{% extends "base.html" %}



{% block main %}

<div class='span9'> 
  <img id='loading-spinner' src="{{ url_for('static', filename='custom_img/ajax-loader.gif')}}">
  <div class='graph'>
  </div>
  <div class='hotkeys'>
  <ul>
    <li><strong>space</strong>: get node neighbors</li>
    <li><strong>e</strong>: find evil</li>
    <li><strong>u</strong>: unfix selected</li>
    <li><strong>shift</strong>: multimple selections</li>
    <li><strong>h</strong>: hide nodes</li>
    <li><strong>(shift+)arrows</strong>: move nodes</li>
  </ul>
  <table>
    <tr><td>Node distance:&nbsp;&nbsp;</td><td><div id='slider' style='width:100px;'></div></td>
    </tr>
  </table>

  <script type="text/javascript">
    $("#slider").slider({
      range: 'max',
      min: 50,
      max: 1000,
      value: 110,
      slide: function (event, ui) {
        force.charge(-ui.value);
        start();
      }
    });
  </script>
</div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='custom_js/initialize_graph.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='custom_js/d3_functions.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='custom_js/sniffer_websockets.js') }}" charset="utf-8"></script>

<script type="text/javascript">

initialize_graph();
spinner = $("#loading-spinner")
spinner.css('position', 'absolute');
spinner.css('top', height/2);
spinner.css('left', width/2);
spinner.toggleClass('show')


d3.json(url_static_prefix+"/neighbors?{{field}}={{value}}", function(error, graph) {
    push_nodes(graph.nodes)
    push_links(graph.edges)
    spinner.toggleClass('show')
    start();
});


</script>
<script>
initSnifferWebSocket()
ws_sniffer.onopen = snifferInterfaceInit
</script>
{%endblock%}
{% block sidebar %}
<div class='data span3 toolbar'>
  <h1>Highlight</h1>

  <div class="input-append">
      <input id="query" type="text" onkeyup="highlight_query($('#query').val())">
      <button class='btn' type='button' onclick="highlight_query('clear'); $('#query').val('');">Clear</button>

  </div>
  <span class="help-block">e.g. 'type:ip', 'google.com'</span>
  <label class="checkbox" style='font-size:small'><input id='curved-links' type="checkbox" onclick='javascript: curved_links = this.checked;start()'> Curved links</label>
  <label class="checkbox" style='font-size:small'><input type="checkbox" id='link-labels' onclick='javascript: link_labels = this.checked; start()'> Link labels</label>
  <button class='btn btn-mini' type='button' onclick='javascript:freeze_graph(true)'>Freeze graph</button>
  <button class='btn btn-mini' type='button' onclick='javascript:freeze_graph(false)'>Unfreeze graph</button>
  
  
  <div id='message'></div>
              

  <h1>Info</h1>
  <table class='table' id='node_info'></table>
  <div class='whois'></div>
</div>
{% endblock %}