{% extends "base.html" %}
{% block main %}
<div class='span12'>
	<h1>Loaded feeds</h1>
	<table class='table table-condensed' id='feeds'>
		<tr>
			<th>Feed name</th>
			<th>Enabled</th>
			<th>Running</th>
			<th>Run every</th>
			<th>Last run</th>
			<th>Next run</th>
			<th>Fresh</th>
			<th>Status</th>
			{% if  not g.config['PUBLIC'] %}
			<th>Refresh</th>
			{% endif %}
		</tr>
		{% for name in feed_names %}
		<tr class='{{ "disabled" if not feeds[name].enabled }} {{ "error" if feeds[name].status != "OK" else "success" }}'>
			<td>{{ feeds[name].name }}</td>
			<td>{{ "Yes" if feeds[name].enabled else "No" }}</td>
			<td>{{ "Yes" if feeds[name].running else "No" }}</td>
			<td>{{ feeds[name].run_every }}</td>
			<td>{{ feeds[name].last_run.strftime("%Y-%m-%d %H:%M:%S") if feeds[name].last_run else "N/A"}}</td>
			<td>{{ feeds[name].next_run.strftime("%Y-%m-%d %H:%M:%S") if feeds[name].next_run else "N/A"}}</td>
			<td>{{ feeds[name].elements_fetched }}</td>
			<td class='error-cause'>{{ feeds[name].status }}</td>
			<td>
			{% if feeds[name].enabled and not g.config['PUBLIC']%}
				<a href='{{ url_for("run_feed", feed_name=name)}}'><i class='icon-refresh'></i></a>
			{% endif %}
			</td>
		</tr>

		{% endfor %}
	</table>	
</div>



{% endblock %}