{% extends "base.html" %}

{% block custom_head %}
<script src="{{ url_for('static', filename='custom_js/report.js') }}"></script>
<link href="{{ url_for('static', filename='custom_css/report.css') }}" rel='stylesheet'>

<link href="{{ url_for('static', filename='tagsinput/bootstrap-tagsinput.css') }}" rel='stylesheet'>
<script src="{{ url_for('static', filename='tagsinput/bootstrap-tagsinput.min.js') }}"></script>
{% endblock %}

{% block main %}
<div class='col-md-12'>
<h2>Details for {{field}}: {{value}} </h2>

	{% if base_elts|length == 1 %}

		<table class='table table-condensed'>
		<tr>
			{% for key, label in base_elts[0].default_fields %}<th>{{label}}</th>{% endfor %}
		</tr>
		<tr>
			{% for key, label in base_elts[0].default_fields %}
				{% if base_elts[0].get(key) is iterable and base_elts[0].get(key) is not string %}
					<td>{{ base_elts[0].get(key)|display_iterable}}</td>
				{%else%}
					<td>{{ base_elts[0].get(key, "N/A") }}</td>
				{%endif%}
			{% endfor %}
		</tr>
		</table>

		<table class='table table-condensed'>
			{% for label in base_elts[0].element_fields %}
				<tr><th>{{label[1]}}</th><td>{{ base_elts[0].get(label[0], "N/A") }}</td></tr>
			{% endfor %}
		</table>

	{% else %}
		<div>
			<div class="toggle-control" data-toggle-target='results'>
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionResults" href="#collapseResults">
					{{ base_elts|length }} matching elements
					</a>
			</div>
			<div id="results" class="toggle-hidden">
				<table class='table table-condensed'>
				{% for h in base_elts[0].fields %}
					<th>{{h[1]}}</th>
				{% endfor %}
				{% for e in base_elts %}
					<tr>
						{% for f in base_elts[0].fields %}
							{% if f[0] == 'value' %}
								<td><a href="{{ url_for('report', field=f[0], value=e[f[0]]) }}">{{ e[f[0]] }}</a></td>
							{% elif f[0] == 'tags' %}
									<td>{{", ".join(e[f[0]])}}</td>
								{% else %}
									<td>{{e[f[0]]}}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}

	{% if evil_elts|length > 0%}

		<h3>Evilness</h3>

		{% if evil_elts|length < 10 %}
			{% for elt in evil_elts.values() %}
				{% for key, evil in elt.evil.items() %}
					<div class='alert alert-danger evil toggle-control' data-toggle-target='details-evil-{{evil.id}}'>{{elt.value}} was listed in <strong>{{evil.source}}</strong> on {{evil.date_added|datetimeformat}}</div>
					<table class='table table-condensed toggle-hidden' id='details-evil-{{evil.id}}'>
						{% for key, value in evil.items() %}
						<tr><th>{{key}}</th><td>{{value}}</td></tr>
						{% endfor %}
					</table>
					{% endfor %}
			{% endfor %}

		{% else %}
		<div>
			<div class="toggle-control" data-toggle-target='all-evil'>{{ base_elts|length }} evil elements</div>
			<div id="all-evil toggle-target">
			{% for elt in base_elts %}
				{% if 'evil' in elt %}
					{% for key, evil in elt.evil.items() %}
						<div class='alert alert-danger evil' data-toggle-target-id='details-evil-{{evil.id}}'>{{elt.value}} was listed in <strong>{{evil.source}}</strong> on {{evil.date_added}}</div>
						<table class='table table-condensed toggle-target' id='details-evil-{{evil.id}}'>
							{% for key, value in evil.items() %}
								<tr><th>{{key}}</th><td>{{value}}</td></tr>
							{% endfor %}
						</table>
					{% endfor %}
				{% endif %}
			{% endfor %}
			</div>
		</div>

		{%endif%}
	{%endif%}

		<h3>Related elements</h3>

		<ul id='relatedTabs' class='nav nav-tabs'>
			{% for r in related_elements %}
			<li {% if loop.index0 == 0%}class='active'{%endif%}><a href='#{{r}}' data-toggle='tab'>{{r}}</a></li>
			{% endfor %}
		</ul>

		<div id='relatedTabsContent' class='tab-content'>
			{% for r in related_elements %}
			<div class='tab-pane {% if loop.index0 == 0%}active{%endif%}' id='{{r}}'>
				<table class='table table-condensed'>
					<tr>{% for label in related_elements[r][0].display_fields if label[0] not in ['type'] %}<th>{{ label[1] }}</th>{% endfor %}</tr>
					{% for n in related_elements[r] %}
					<tr>
						{% for label in n.display_fields if label[0] not in ['type'] %}
						{% if label[0] == 'tags' %}
							<td>{{", ".join(n.tags)}}</td>
						{%else%}
							<td>{{ n[label[0]] }}</td>
						{%endif%}
						{% endfor %}
					</tr>
					{%endfor%}
				</table>
			</div>
			{% endfor %}
		</div>

		<h3>Links</h3>


		<div role="tabpanel">

		<ul id='linkedTabs' class='nav nav-tabs'>
			{% for r in linked %}
			<li {% if loop.index0 == 0%}class='active'{%endif%}><a href='#{{r}}' data-toggle='tab'>{{r}}</a></li>
			{% endfor %}
		</ul>

		<div id='linkedTabsContent' class='tab-content'>
			{% for r in linked %}
				<div class='tab-pane {% if loop.first %}active{%endif%}' id='{{r}}'>
					{% for dest in linked[r]%}
						<div><a href="#" class="toggle-control" data-toggle-target='{{r}}{{loop.index0}}'>{{dest}}</a></div>
						<table id='{{r}}{{loop.index0}}' class='table table-condensed toggle-hidden'>
							<tr>
							{% for label in linked[r][dest][0].display_fields %}
								<th>{{label[1]}}</th>
							{%endfor%}
							</tr>

							{% for e in linked[r][dest] %}
							<tr>
								{% for label in e.display_fields %}
									{% if label[0] == 'tags' %}
										<td>{{", ".join(e.tags)}}</td>
									{%else%}
										<td>{{ e[label[0]]}}</td>
									{%endif%}
								{% endfor %}
							</tr>
							{% endfor %}
						</table>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>




{% endblock %}
