{% extends "base.html" %}
{% block main %}
<div class='span9'>
  <h1>Sniffer sessions</h1>
  <table id='sessions' class='table table-condensed'>
    <tr> <th>Session name</th><th>Packets captured</th><th>Nodes</th><th>Edges</th><th>Status</th><th></th></tr>
  </table>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='custom_js/sniffer_websockets.js') }}" charset="utf-8"></script>
<script type="text/javascript">getSessionList()</script>
{%endblock%}
{% block sidebar %}
<div class='data span3'>
{%include "flash.html"%}
  <form method='POST' action='' enctype='multipart/form-data'>
    <h3>New sniffer session</h3>
    <div id='message'></div>
    <label for='pcap-upload'>Start from .pcap file</label>
    <input type="file" placeholder="" id='pcap-upload' name='pcap-file'>
    <label for='session_name'>Session name</label>
    <input type="text" placeholder="Session name" name='session_name' id='session_name' >
    <label for='session_name'>BPF</label>
    <input type="text" placeholder="port 21 and not udp" name='filter' id='filter'>
    <br />
    {% if not g.config['PUBLIC'] %}
      <label class="checkbox"><input type="checkbox" name="startnow" checked='checked'> Start sniffer with new session</label>
      {% if g.config['TLS_PROXY_PORT'] %}
      <label class="checkbox"><input type="checkbox" name="intercept_tls" checked='checked'> Intercept TLS (port {{g.config['TLS_PROXY_PORT']}})</label>
      {% endif %}
      <!-- <label for='tls-interception'>TLS proxy port</label>
      <input type="text" placeholder="Leave blank for no interception" name='tls_proxy_port' id='tls_proxy_port'> -->
    {% endif %}
    <button type="submit" id='newsniff' onclick='return hasname();' class="btn btn-primary">Create new session</button>
    
  </form>  
</div>
{% endblock %}