services:

  redis:
    image: redis:latest
    ports:
      - 127.0.0.1:6379:6379

  arangodb:
    image: arangodb:3.11
    ports:
      - 127.0.0.1:8529:8529
    environment:
      - ARANGO_ROOT_PASSWORD=
