*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# Malcom folders
env-*
libs

# do not include private feeds
Malcom/feeds/private*

# do not include user-generated pcap files
Malcom/sniffer/captures/*.pcap

# do not include TLS keys
Malcom/networking/tlsproxy/keys/server.crt
Malcom/networking/tlsproxy/keys/server.key
Malcom/auxiliary/geoIP/*
*.conf

# MAC OS X stuff
.fuse_*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
