*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
/local
/include
/share
pip-selfcheck.json

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# MAC OS X stuff
.fuse_*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# YETI stuff
exports/*
storage/*
celerybeat.pid
yeti.conf

# Frontend Dependencies
node_modules

# Vagrant
.vagrant/
vagrant

#IDE
.idea

#Patch
*.patch
#venv
venv*
