language: python
python:
  - "2.7"

services:
  - redis
  - mongodb

addons:
  apt:
    packages:
      - build-essential
      - python-dev
      - libxml2-dev
      - libxslt-dev
      - zlib1g-dev

install:
  - pip install -r requirements.txt

script:
  - ./yeti.py webserver &
  - sleep 5
  - curl -I -L http://127.0.0.1:5000
