sudo: required

language: python
python:
  - "3.7"

services:
  - redis
  - mongodb

addons:
  apt:
    packages:
      - build-essential
      - python-dev
      - libxml2-dev
      - libxslt-dev
      - zlib1g-dev

before_install:
  - sudo mkdir /var/log/yeti
  - sudo chown $USER /var/log/yeti

install:
  - pip install -r requirements.txt
  - ln -s ../../../contrib/analytics/ivre_api/ivre_api.py plugins/analytics/private/
  - pip install -r contrib/analytics/ivre_api/requirements.txt

script:
  - ./yeti.py webserver &
  - sleep 5
  - curl -I -L http://127.0.0.1:5000
  - cd pyeti
  - nosetests
