[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
iptools = "*"
ipaddress = "*"
celery = "*"
idna = "*"
requests = {extras = ["socks"]}
lxml = "*"
dnspython = "*"
Flask-Classy = "*"
Flask-Negotiation = "*"
flask-mongoengine = "*"
Flask-Login = "*"
tldextract = "*"
pythonwhois = {git = "https://github.com/joepie91/python-whois"}
ipwhois = "*"
blinker = "*"
simplejson = "*"
yara-python = "*"
redis = "*"
"geoip2" = "*"
psutil = "*"
shodan = "*"
python-magic = "*"
pdfkit = "*"
pdfminer = "*"
"html2text" = "*"
readability-lxml = "*"
"beautifulsoup4" = "*"
python-dateutil = "*"
libmagic = "*"
maclookup = "*"
pyopenssl = "*"
pandas= "*"
flask-api = "*"
url-normalize = "*"
oauthlib = {extras = ["signedtoken"], version = "*"}
pyjwt = "*"

[dev-packages]
pylint = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-httpdomain = "*"

[requires]
python_version = "3.7"
