[tool.poetry]
name = "yeti"
version = "0.1.0"
description = "Yeti Feeds"
authors = ["Thomas Chopitea <tomchop@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
simplejson = "^3.18.0"
mongoengine = "^0.24.2"
cryptography = "^38.0.4"
werkzeug = "< 2.1.2"
Jinja2 = "^3.1.2"
shodan = "^1.28.0"
XlsxWriter = "^3.0.3"
pdfminer = "^20191125"
pdfkit = "^1.0.0"
pyOpenSSL = "^22.1.0"
PySocks = "^1.7.1"
python-magic = "^0.4.27"
psutil = "^5.9.4"
lxml = "^4.9.1"
MarkupSafe = "^2.1.1"
html2text = "^2020.1.16"
maclookup = "^1.0.3"
pycryptodome = "^3.16.0"
readability-lxml = "^0.8.1"
beautifulsoup4 = "^4.11.1"
tldextract = "^3.4.0"
iptools = "^0.7.0"
geoip2 = "^4.6.0"
url-normalize = "^1.4.3"
pandas = "*"
uWSGI = "^2.0.21"
redis = "^4.4.0"
pymisp = "^2.4.166"
yara-python = "^4.2.3"
python-whois = "^0.8.0"
python3-pdns = "^1.0"
PyJWT = "^2.6.0"
ipwhois = "^1.2.0"
yeti-python = "^1.4.0"
fastapi = "^0.92.0"
uvicorn = "^0.20.0"
python-arango = "^7.5.6"
python-multipart = "^0.0.6"
passlib = {extras = ["bcrypt"], version = "^1.7.4"}
python-jose = {extras = ["cryptography"], version = "^3.3.0"}
celery = {extras = ["redis"], version = "^5.2.7"}
otxv2 = "^1.5.12"
validators = "^0.22.0"

[tool.poetry.group.dev.dependencies]
pylint = "^2.16.1"
black = "^22.12.0"
mypy = "^1.0.0"
httpx = "^0.23.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
