[tool.poetry]
name = "yeti"
version = "0.1.0"
description = "Yeti"
authors = ["Thomas Chopitea <tomchop@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
uvicorn = "^0.23.2"
fastapi = "^0.109.0"
python-arango = "^7.9.1"
celery = "^5.3.4"
validators = "^0.22.0"
python-jose = {extras = ["cryptography"], version = "^3.3.0"}
passlib = {extras = ["bcrypt"], version = "^1.7.4"}
python-multipart = ">=0.0.6,<0.0.8"
pandas = "^2.1.1"
redis = "^5.0.0"
click = "^8.1.7"
jinja2 = "^3.1.2"
authlib = "^1.2.1"
itsdangerous = "^2.1.2"
pyyaml = "^6.0.1"
parameterized = "^0.9.0"
yara-python = "^4.5.0"
dateparser = "^1.2.0"
pycountry = "^23.12.11"

[tool.poetry.group.dev.dependencies]
pylint = "^2.16.1"
mypy = "^1.0.0"
httpx = "^0.23.3"
ruff = "^0.3.0"

[tool.poetry.scripts]
yetictl = 'yetictl.cli:cli'

[tool.poetry.group.plugins.dependencies]
pymisp = "^2.4.176"
otxv2 = "^1.5.12"
shodan = "^1.30.0"
timesketch-api-client = "^20230721"
pyopenssl = "^23.3.0"
ipwhois = "^1.2.0"
maclookup = "^1.0.3"
censys = "^2.2.10"
artifacts = {git = "https://github.com/forensicartifacts/artifacts.git", rev = "main"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
# Enable the isort rules.
lint.extend-select = ["I"]
# exclude files in the /deprecated/ directories
exclude = ["deprecated"]
