-i https://pypi.python.org/simple
celery
simplejson
mongoengine
blinker
flask
flask-mongoengine
cryptography
flask-api
flask-login
flask-classy
jinja2
shodan
xlsxwriter
pdfminer
pdfkit
dnspython
pyopenssl
pysocks
python-magic
psutil
lxml
markupsafe
html2text
maclookup
pycryptodome
ipwhois
readability-lxml
beautifulsoup4
tldextract
iptools
geoip2
url-normalize
pandas
uwsgi
redis
pymisp
yara-python
python-whois
python3-pdns
black