-i https://pypi.python.org/simple
alabaster==0.7.12
amqp==2.3.2
babel==2.6.0
beautifulsoup4==4.6.3
billiard==3.5.0.4
blinker==1.4
celery==4.2.1
certifi==2018.10.15
chardet==3.0.4
click-plugins==1.0.4
click==7.0
colorama==0.4.0
cssselect==1.0.3
dnspython==1.15.0
docutils==0.14
flask-classy==0.6.10
flask-login==0.4.1
flask-mongoengine==0.9.5
flask-negotiation==0.1.9
flask-wtf==0.14.2
flask==1.0.2
future==0.17.1
geoip2==2.9.0
git+https://github.com/joepie91/python-whois@7b0ddf755b3d706860d5d8cb80c598fd854a48ca#egg=pythonwhois
html2text==2018.1.9
idna==2.7
imagesize==1.1.0
ipaddr==2.2.0 ; python_version < '3.3'
ipaddress==1.0.22
iptools==0.6.1
ipwhois==1.0.0
itsdangerous==1.1.0
jinja2==2.10.1
kombu==4.2.1
libmagic==1.0
lxml==4.2.5
maclookup==1.0.3
markupsafe==1.0
maxminddb==1.4.1
mongoengine==0.15.3
packaging==18.0
pdfkit==0.6.1
pdfminer==20140328
psutil==5.4.8
pyOpenSSL==19.0.0
pygments==2.2.0
pymongo==3.7.2
pyparsing==2.3.0
pysocks==1.6.8 ; extra == 'socks'
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2018.7
readability-lxml==0.7
redis==2.10.6
requests-file==1.4.3
requests[socks]==2.20.0
shodan==1.10.4
simplejson==3.16.0
six==1.11.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.4.2
sphinx==1.8.1
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-websupport==1.1.0
tldextract==2.2.0
typing==3.6.6 ; python_version < '3.5'
urllib3==1.24
urlnorm==1.1.4
vine==1.1.4
werkzeug==0.14.1
wtforms==2.2.1
xlsxwriter==1.1.2
yara-python==3.8.1
