[auth]

##
## Use these settings to configure Yeti authentication.
##

# module = local

##
## If you specify module = apache, you can set the environment
## variable from which the username can be retrieved (defaults to
## REMOTE_USER).
##

# apache_variable = REMOTE_USER

[mongodb]

##
## Use these settings to configure how to connect to your MongoDB database.
## All settings are optional, with default values being the one in the comment.
## If you do not specify a username and password, there will be no authentication.
##

# host = 127.0.0.1
# port = 27017
# database = yeti
# username = yeti
# password = STRONG_PASSWORD

[redis]

##
## Use these settings to configure how to connect to your redis server.
## All settings are optional, with default values being the one in the comment.
##

# host = 127.0.0.1
# port = 6379
# database = 0

[misp]

##
## Use this setting in order to specify a comma-separated list of MISP instances
## that should be taken into account by the MISP feed.
##

# instances = misp_1

[misp_1]

##
## For each instance in the 'misp.instances' setting, you should specify a
## configuration block with this format, in order to specify at least the URL
## and the auth key.
##

# name = MISP_1
# url = MISP_URL
# key = MISP_AUTH_KEY

[proxy]

# http = socks5://user:pass@host:port
# https = socks5://user:pass@host:port

[maxmind]

# path = /full/path/to/GeoLite2-City.mmdb

[tldextract]
# comma separated list of tlds, WITHOUT dots, example: bit,tor2web,pw
# extra_suffixes =
# suffix_list_urls =

[github]
# Generate token: https://github.com/settings/tokens
# Select repo only
# no token - limit 60 r/h
# w/ token - limit 5k r/h
# token =

[otx]
# otx_key = YourOTXKey
# number_page = 1