{
    "strict": true,
    "debug": true,
    "sp": {
        "entityId": "<entity_id>",
        "assertionConsumerService": {
            "url": "https://<url>/saml/acs",
            "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
        }
    },
    "idp": {
        "entityId": "https://<entity_id>",
        "singleSignOnService": {
            "url": "https://<sso_url>",
            "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
        },
        "singleLogoutService": {
            "url": "https://<slo_url>",
            "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
        },
        "x509cert": "<CERT>"
    }
}
