<div id="tag_url" data-url="{{url_for('frontend.ActionsView:tag')}}"></div>
<div id="untag_url" data-url="{{url_for('frontend.ActionsView:untag')}}"></div>
<div id="tags_url" data-url="{{url_for('api.Tag:index')}}"></div>
<div id="export_url" data-url="{{url_for('frontend.ActionsView:export')}}"></div>
<div id="export_templates_url" data-url="{{url_for('api.ExportTemplate:index')}}"></div>

{% raw %}

<script id="action-managetags-template" type="text/x-handlebars-template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#selection-tags">
            Manage Tags
          </a>
        </h4>
      </div>
      <div id="selection-tags" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            <form id="tag-form" class="yeti-form" method="post">
              <div class="form-group">
                  <input type="text" id="manage_tags" class="form-control input-sm tagfield" />
              </div>
              <div class="pull-right">
                  <button id="managetags-add" type="button" class="btn btn-primary btn-sm selection-tags-action" data-action=""><i class="hide fa fa-spinner spinner"></i> Add</button>
                  <button id="managetags-remove" type="button" class="btn btn-danger btn-sm selection-tags-action" data-action=""><i class="hide fa fa-spinner spinner"></i> Remove</button>
              </div>
            </form>
        </div>
      </div>
    </div>
</script>

<script id="action-export-options-template" type="text/x-handlebars-template">
    <option selected disabled>Choose template</option>
    {{#each templates}}
        <option value="{{id}}">{{name}}</option>
    {{/each}}
</script>

<script id="action-export-template" type="text/x-handlebars-template">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#selection-export">
            Export
          </a>
        </h4>
      </div>
      <div id="selection-export" class="panel-collapse collapse">
        <div class="panel-body">
            <form id="action-export-form" method="post" class="selection-form">
                <div class="form-group">
                  <select id="selection-export-templates" class="form-control yeti-select" name="template">
                    <option selected disabled>Choose template</option>
                  </select>
                  <div class="selection-ids"></div>
                </div>
                <button class="btn btn-primary btn-sm yeti-save pull-right">Export</button>
            </form>
        </div>
      </div>
    </div>
</script>

<script id="action-hidden-field-template" type="text/x-handlebars-template">
    <input type='hidden' name='{{name}}' value='{{value}}' />
</script>

{% endraw %}
