<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="{{ url_for('frontend.static', filename='jquery-ui/js/jquery.js') }}" charset="utf-8"></script>


    <title>YETI</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='yeti/css/yeti.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='yeti/css/flaticon.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='animate/animate.min.css') }}">
    <script src="{{url_for('frontend.static', filename='bootstrap-notify/bootstrap-notify.min.js')}}"></script>
    <script src="{{url_for('frontend.static', filename='yeti/js/yeti.js')}}"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='highlightjs/highlightjs.min.css') }}">
    <script src="{{url_for('frontend.static', filename='highlightjs/highlightjs.min.js')}}"></script>
    {% block custom_head %}
    {% endblock %}
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('frontend.ObservablesView:index') }}">YETI</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="{% if url_for("frontend.ObservablesView:index") in request.path %}active{%endif%} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Observables <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('frontend.ObservablesView:index') }}">Search &amp; add</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('frontend.ObservablesView:advanced') }}">Browse</a></li>

              </ul>
            </li>

            <li class="{% if url_for("frontend.IndicatorsView:index") in request.path %}active{%endif%} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Indicators <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('frontend.IndicatorsView:index') }}">List</a></li>
                <li role="separator" class="divider"></li>
                {% for t in g.indicators %}
                <li><a href="{{ url_for('frontend.IndicatorsView:new_subclass', subclass=t.__name__.lower()) }}">New {{t.__name__}}</a></li>
                {% endfor %}
              </ul>
            </li>

            <li class="{% if url_for("frontend.EntitiesView:index") in request.path %}active{%endif%} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entities <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('frontend.EntitiesView:index') }}">List</a></li>
                <li role="separator" class="divider"></li>
                {% for t in g.entities %}
                <li><a href="{{ url_for('frontend.EntitiesView:new_subclass', subclass=t.__name__.lower()) }}">New {{t.__name__}}</a></li>
                {% endfor %}
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('frontend.dataflows') }}">Dataflows</a></li>
              <li><a href="{{ url_for('frontend.analytics') }}">Analytics</a></li>
              <li><a href="{{ url_for('frontend.tags') }}">Tags</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{ url_for('frontend.UsersView:settings') }}">Settings</a></li>
            </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container yeti-content">

      {% block breadcrumb %}
      {% endblock %}

      {% block main %}
      {% endblock %}

      {% block sidebar %}
      {% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('frontend.static', filename='bootstrap/js/bootstrap.min.js')}}"></script>

    <script>
        hljs.initHighlightingOnLoad();


    </script>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <script>
        {% for category, message in messages %}
            {% if category == "message" %}
                notify("{{message}}", 'info');
            {% else %}
                notify("{{message}}", "{{category}}");
            {% endif %}
        {% endfor %}
        </script>
      {% endif %}
    {% endwith %}
  </body>
</html>
