<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="{{ url_for('frontend.static', filename='jquery-ui/js/jquery.js') }}" charset="utf-8"></script>


    <title>{% block title %}The Yeti{%endblock%} - YETI</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='yeti/css/yeti.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='yeti/css/flaticon.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='animate/animate.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='simplemde/simplemde.min.css') }}">
    <script src="{{url_for('frontend.static', filename='bootstrap-notify/bootstrap-notify.min.js')}}"></script>
    <script src="{{url_for('frontend.static', filename='yeti/js/yeti.js')}}"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='highlightjs/highlightjs.min.css') }}">
    <script src="{{url_for('frontend.static', filename='highlightjs/highlightjs.min.js')}}"></script>

    <script src="{{url_for('frontend.static', filename='simplemde/marked.min.js')}}"></script>
    <script src="{{url_for('frontend.static', filename='simplemde/simplemde.min.js')}}"></script>
    <script src="{{url_for('frontend.static', filename='simplemde/inline-attachment.min.js')}}"></script>
    <script src="{{url_for('frontend.static', filename='simplemde/codemirror.inline-attachment.js')}}"></script>
    <script src="{{url_for('frontend.static', filename='yeti/js/markdown.js')}}"></script>
    <script src="{{url_for('frontend.static', filename='yeti/js/filedrag.js')}}"></script>
    {% block custom_head %}
    {% endblock %}
  </head>

  <body>

    <div id="file-upload-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Upload files</h4>
          </div>

          <div class="modal-body">
            <div id="dropzone">
              <form class="dropzone" method="post" action="{{ url_for('api.File:add_file') }}" enctype="multipart/form-data">
                  <input class="dropzone" type="file" name="files" id="file" multiple />
                  <button class='btn btn-small' type="submit">Upload</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('frontend.ObservableView:index') }}">YETI</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            {% if current_user.has_permission("observable", "read") %}
            <li class="{% if url_for("frontend.ObservableView:index") in request.path and "/new/" not in request.path %}active{%endif%} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Observables <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('frontend.ObservableView:index') }}">Search {% if current_user.has_permission("observable", "write") %} &amp; add {% endif %}</a></li>
                {% if current_user.has_permission("file", "write") %}<li><a href="#" data-toggle="modal" data-target="#file-upload-modal">Upload files</a></li>{% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('frontend.ObservableView:advanced') }}">Browse</a></li>
              </ul>
            </li>
            {% endif %}

            {% if current_user.has_permission("indicator", "read") %}
            <li class="{% if url_for("frontend.IndicatorView:index") in request.path and "/new/" not in request.path %}active{%endif%} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Indicators <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for name, label in [("regex", "Regular expressions"), ("yara", "Yara rules")] %}
                <li><a onclick="location.reload()" href="{{ url_for('frontend.IndicatorView:index') }}#{{name}}">{{label}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}

            {% if current_user.has_permission("entity", "read") %}
            <li class="{% if url_for("frontend.EntityView:index") in request.path and "/new/" not in request.path %}active{%endif%} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entities <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for name, label in [("malware", "Malware"), ("ttp", "TTPs"), ("actor", "Actors"), ("campaign", "Campaigns"), ("exploit", "Exploits"), ("exploitkit", "Exploit kits"), ("company", "Companies")] %}
                <li><a onclick="location.reload()" href="{{ url_for('frontend.EntityView:index') }}#{{name}}">{{label}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}

            <li class="separator"></li>

            {% if current_user.has_permission("entity", "write") or current_user.has_permission("indicator", "write") %}
            <li class="{% if "/new/" in request.path %}active{%endif%} dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if current_user.has_permission("entity", "write") %}
                  <li class="dropdown-header">New entity</li>
                  {% for name, label in [("malware", "Malware"), ("ttp", "TTP"), ("actor", "Actor"), ("campaign", "Campaign"), ("exploit", "Exploit"), ("exploitkit", "Exploit kit"), ("company", "Company")] %}
                  <li><a href="{{ url_for('frontend.EntityView:new_subclass', subclass=name) }}">{{label}}</a></li>
                  {% endfor %}
                {% endif %}
                {% if current_user.has_permission("entity", "write") and current_user.has_permission("indicator", "write") %}
                <li role="separator" class="divider"></li>
                {% endif %}
                {% if current_user.has_permission("indicator", "write") %}
                  <li class="dropdown-header">New indicator</li>
                  {% for name, label in [("regex", "Regular expression"), ("yara", "Yara rule")] %}
                  <li><a href="{{ url_for('frontend.IndicatorView:new_subclass', subclass=name) }}">{{label}}</a></li>
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
            {% endif %}

            {% if current_user.has_permission("investigation", "read") %}
            <li class="separator"></li>

            <li class="{% if url_for("frontend.InvestigationView:index") in request.path and "/new/" not in request.path %}active{%endif%} dropdown">
              <a href="{{ url_for('frontend.InvestigationView:index') }}">Investigations</span></a>
            </li>
            {% endif %}


          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% set d = current_user.has_permission("feed", "read") or current_user.has_permission("exporttemplates", "read") or current_user.has_permission("export", "read") %}
            {% set a = current_user.has_permission("scheduledanalytics", "read") or current_user.has_permission("oneshotanalytics", "read") %}
            {% set t = current_user.has_permission("tag", "read") %}
            {% if et or a or d %}
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if d %}<li><a href="{{ url_for('frontend.dataflows') }}">Dataflows</a></li>{%endif%}
                  {% if a %}<li><a href="{{ url_for('frontend.analytics') }}">Analytics</a></li>{%endif%}
                  {% if t %}<li><a href="{{ url_for('frontend.tags') }}">Tags</a></li>{%endif%}
                  {% if current_user.has_role('admin') %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url_for('frontend.UserAdminView:index') }}">User administration</a></li>
                    <li><a href="{{ url_for('frontend.SystemView:index') }}">System</a></li>
                  {%endif %}
                </ul>
              </li>
            {% endif %}
            <p class="navbar-text">User: <strong>{{current_user.username}}</strong> <small>[ <a href="{{ url_for('frontend.UsersView:profile') }}">profile</a> | <a href="{{ url_for("auth.logout")}}">logout</a> ]</small></p>

            </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container yeti-content">

      {% block breadcrumb %}
      {% endblock %}

      {% block main %}
      {% endblock %}

      {% block sidebar %}
      {% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('frontend.static', filename='bootstrap/js/bootstrap.min.js')}}"></script>

    <script>
        hljs.initHighlightingOnLoad();

        // Enable tooltips
        $('[data-toggle="tooltip"]').tooltip();
    </script>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <script>
        {% for category, message in messages %}
            {% if category == "message" %}
                notify("{{message}}", 'info');
            {% else %}
                notify("{{message}}", "{{category}}");
            {% endif %}
        {% endfor %}
        </script>
      {% endif %}
    {% endwith %}
  </body>
</html>
