{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li class="active">Browse</li>
</ol>
{% endblock %}

{% block main %}
<div class="col-md-9">
	<div role="tabpanel">
		<ul id="datasetTabs" class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#observables" aria-controls="observables" role="tab" data-toggle="tab">Observables</a></li>
		</ul>
		<div id="datasetTabsContent" class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="observables" data-url="{{ url_for('api.observableapi')}}">
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/browse.js') }}" charset="utf-8"></script>
{%endblock%}

{% block sidebar %}
<div class="col-md-3">
	<form>
		<div class="input-group">
  			<input id="observable-filter" class="form-control input-sm" placeholder="tags=evil">
			<span class="input-group-btn">
				<button id="observable-search" class="btn btn-primary btn-sm" type="button">Go</button>
			</span>
		</div>
		<div class="checkbox input-group-lg">
			<label class="checkbox">
			      <input id="regex" type="checkbox"> Regex search (slower)
			</label>
		</div>
	</form>

	<ul class="pagination">
    <li><a class="paginator" data-direction="-1" aria-label="Previous">Prev</a></li>
    <li><a id="pagination" data-page="1">Page <span id="pagenumber">1</span></a></li>
    <li><a class="paginator" data-direction="1" aria-label="Next">Next</a></li>
  </ul>
</div>
{% endblock %}
