{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li>YETI</li>
  <li>Admin</li>
  <li class="active">Dataflows (feeds and exports)</li>
</ol>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/dataflows.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/forms.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='bootstrap-tokenfield/js/bootstrap-tokenfield.min.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='jquery-ui/js/jquery-ui.min.js') }}" charset="utf-8"></script>

<link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='jquery-ui/css/jquery-ui.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='bootstrap-tokenfield/css/tokenfield-typeahead.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='bootstrap-tokenfield/css/bootstrap-tokenfield.min.css') }}">
{%endblock%}

{% block main %}
<ul class="nav nav-tabs" role="tablist">
  {% if current_user.has_permission("feed", "read")%}
    <li role="presentation" class="active"><a href="#import" aria-controls="import" role="tab" data-toggle="tab">Feeds</a></li>
  {% endif %}
  {% if current_user.has_permission("export", "read")%}
    <li role="presentation"><a href="#exports" aria-controls="exports" role="tab" data-toggle="tab">Exports</a></li>
  {% endif %}
  {% if current_user.has_permission("exporttemplate", "read")%}
    <li role="presentation"><a href="#export-templates" aria-controls="export-templates" role="tab" data-toggle="tab">Templates</a></li>
  {% endif %}
</ul>

<div class="tab-content">

  {% if current_user.has_permission("feed", "read")%}
  <div role="tabpanel" class="tab-pane active" id="import"> <!-- import feed tab -->
    <div id="feed-table" class="yeti-populate" data-url="{{ url_for('api.Feed:index') }}">
    </div>
  </div>
  {%endif%}


  {% if current_user.has_permission("export", "read")%}
  <div role="tabpanel" class="tab-pane" id="exports"> <!-- export feed tab -->
    <div class="row">

      {%set write = current_user.has_permission("export", "write") %}
      <div class="col-md-{{9 if write else 12}}">

        <div id="export-table" class="yeti-populate" data-url="{{ url_for('api.Export:index') }}">
        </div>
      </div>

      {% if write %}
      <div class="col-md-3">
        <div class="new-export">
          <h5>New export</h5>
          <form data-start-disabled="true" class="yeti-form" id="export-form" data-url="{{ url_for('api.Export:index') }}">
            <div class="form-group">
              <input type="text" class="form-control" name="name" value=""  placeholder="Name"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="description" value="" placeholder="Description"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control tagfield" name="ignore_tags" data-choices="{{ url_for('api.Tag:index') }}" value="" placeholder="Ignore tags"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control tagfield" name="include_tags" data-choices="{{ url_for('api.Tag:index') }}" value="" placeholder="Include tags"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control tagfield" name="exclude_tags" data-choices="{{ url_for('api.Tag:index') }}" value="" placeholder="Exclude tags"/>
            </div>
            <div class="form-group">
              <select class="form-control yeti-select" name="acts_on" placeholder='Acts on'>
                {% for obs in g.observables %}
                  <option value="{{obs.__name__}}">{{obs.__name__}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <select class="form-control yeti-select" name="template" placeholder='template'>
                {% for template in export_templates %}
                <option value="{{template.name}}">{{template.name}}</option>
                {% endfor %}
              </select>
            </div>
            <button type="button" id="yeti-new-button" data-url="{{ url_for('api.Export:index') }}" class="btn btn-default btn-sm yeti-new" name="save">New</button>
            <button type="button" id="yeti-save-button" data-url="{{ url_for('api.Export:index') }}" class="btn btn-primary btn-sm yeti-save" data-clear="true" name="save">Save</button>
            <button type="button" id="yeti-delete-button" data-url="{{ url_for('api.Export:index') }}" class="btn btn-danger btn-sm yeti-delete" name="delete" disabled="disabled">Delete</button>
            <button type="button" id="yeti-clear-button" class="btn btn-default btn-sm yeti-clear" name="delete">Clear</button>
          </form>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
  {%endif%}

  {% if current_user.has_permission("exporttemplate", "read")%}
  <div role="tabpanel" class="tab-pane" id="export-templates"> <!-- Templates tab -->
    <div class="row">

      <div class="col-md-2">
        <div id="export-templates-table" class="yeti-populate" data-url="{{ url_for('api.ExportTemplate:index') }}">
        </div>
      </div>

      <div class="col-md-10" style='margin-top:10px;'>
        <form data-start-disabled="true" class="yeti-form" id="export-template-form" data-url="{{ url_for('api.ExportTemplate:index') }}">
          <div class="form-group">
            <input type="text" class="form-control" name="name" value=""  placeholder="Name"/>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="template" value="" rows=10 placeholder={% raw %}"Define your Jinja2 template here.

Example:

<HEADER>
{%for obs in elements%}{{ obs.idna }}
{%endfor%}
<FOOTER>"{% endraw %}/></textarea>
          </div>
          {% if current_user.has_permission("exporttemplate", "write")%}
          <button type="button" id="yeti-new-button" data-url="{{ url_for('api.ExportTemplate:index') }}" class="btn btn-default btn-sm yeti-new" name="new">New</button>
          <button type="button" id="yeti-save-button" data-url="{{ url_for('api.ExportTemplate:index') }}" class="btn btn-primary btn-sm yeti-save" data-clear="true" name="save">Save</button>
          <button type="button" id="yeti-delete-button" data-url="{{ url_for('api.ExportTemplate:index') }}" class="btn btn-danger btn-sm yeti-delete" name="delete" disabled="disabled">Delete</button>
          <button type="button" id="yeti-clear-button" class="btn btn-default btn-sm yeti-clear" name="delete">Clear</button>
          {% endif %}
        </form>
      </div>

    </div>
  </div>
  {%endif%}

</div>

{% endblock %}
