{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li>YETI</li>
  <li>Admin</li>
  <li class="active">Dataflows (feeds and exports)</li>
</ol>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/dataflows.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/forms.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='bootstrap-tokenfield/js/bootstrap-tokenfield.min.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='jquery-ui/js/jquery-ui.min.js') }}" charset="utf-8"></script>

<link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='jquery-ui/css/jquery-ui.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='bootstrap-tokenfield/css/tokenfield-typeahead.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('frontend.static', filename='bootstrap-tokenfield/css/bootstrap-tokenfield.min.css') }}">
{%endblock%}

{% block main %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#import" aria-controls="import" role="tab" data-toggle="tab">Feeds</a></li>
  <li role="presentation"><a href="#export" aria-controls="export" role="tab" data-toggle="tab">Exports</a></li>
  <li role="presentation"><a href="#export-templates" aria-controls="export-templates" role="tab" data-toggle="tab">Templates</a></li>
</ul>

<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="import"> <!-- import feed tab -->
    <div id="feed-table" class="yeti-populate" data-url="{{ url_for('api.feedapi') }}">
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="export"> <!-- export feed tab -->
    <div class="row">

      <div class="col-md-9">
        <div id="export-table" class="yeti-populate" data-url="{{ url_for('api.exportapi') }}">
        </div>
      </div>

      <div class="col-md-3">
        <div class="new-export">
          <h5>New export</h5>
          <form class="yeti-form" id="export-form" data-url="{{ url_for('api.exportapi') }}">
            <div class="form-group">
              <input type="text" class="form-control" name="name" value=""  placeholder="Name"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="description" value="" placeholder="Description"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control tagfield" name="include_tags" data-choices="{{ url_for('api.tagapi') }}" value="" placeholder="Include tags"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control tagfield" name="exclude_tags" data-choices="{{ url_for('api.tagapi') }}" value="" placeholder="Exclude tags"/>
            </div>
            <div class="form-group">
              <select class="form-control yeti-select" name="acts_on" placeholder='Acts on'>
                {% for obs in g.observables %}
                  <option value="{{obs.__name__}}">{{obs.__name__}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <select class="form-control yeti-select" name="template" placeholder='template'>
                {% for template in export_templates %}
                <option value="{{template.name}}">{{template.name}}</option>
                {% endfor %}
              </select>
            </div>
            <button type="button" id="yeti-save-button" data-url="{{ url_for('api.exportapi') }}" class="btn btn-primary btn-sm yeti-save" name="save">New</button>
            <button type="button" id="yeti-delete-button" data-url="{{ url_for('api.exportapi') }}" class="btn btn-danger btn-sm yeti-delete" name="delete" disabled="disabled">Delete</button>
            <button type="button" id="yeti-clear-button" class="btn btn-default btn-sm yeti-clear" name="delete">Clear</button>
          </form>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="export-templates"> <!-- export feed tab -->
      <div class="row">

        <div class="col-md-2">
          <div id="export-templates" class="yeti-populate" data-url="{{ url_for('api.exporttemplateapi') }}">
          </div>
        </div>

        <div class="col-md-9">
          <form class="yeti-form" id="export-template-form" data-url="{{ url_for('api.exporttemplateapi') }}">
            <div class="form-group">
              <input type="text" class="form-control" name="name" value=""  placeholder="Name"/>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="template" value="" rows=10 placeholder="Edit your Jinja2 tempate here"/></textarea>
            </div>
            <button type="button" id="yeti-save-button" data-url="{{ url_for('api.exporttemplateapi') }}" class="btn btn-primary btn-sm yeti-save" name="save">New</button>
            <button type="button" id="yeti-delete-button" data-url="{{ url_for('api.exporttemplateapi') }}" class="btn btn-danger btn-sm yeti-delete" name="delete" disabled="disabled">Delete</button>
            <button type="button" id="yeti-clear-button" class="btn btn-default btn-sm yeti-clear" name="delete">Clear</button>
          </form>
        </div>

      </div>
    </div>

  </div>

</div>

{% endblock %}
