{% extends "base.html" %}

{% block main %}
</div>

<script type="text/javascript" src="{{ url_for('frontend.static', filename='handlebars/handlebars.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='visjs/vis.min.js') }}"></script>
<link href="{{ url_for('frontend.static', filename='visjs/vis.min.css') }}" rel="stylesheet" type="text/css" />

<div id="graph-sidebar">
    <div id="graph-sidebar-icon" class="flaticon-server20"></div>
    <div id="graph-sidebar-value">hrakrue-home.de</value></div>

    <ul id="graph-sidebar-tabs" class="nav nav-pills nav-justified">
      <li class="active"><a data-toggle="pill" href="#graph-sidebar-info">Info</a></li>
      <li><a data-toggle="pill" href="#graph-sidebar-links">Links</a></li>
      <li><a data-toggle="pill" href="#graph-sidebar-analytics">Analytics</a></li>
    </ul>

    <div id="graph-sidebar-content" class="tab-content">
        <div id="graph-sidebar-info" class="tab-pane active">
            <h1>Tags</h1>
            <div class="graph-sidebar-tags">
                <span data-tag="dridex" class="yeti-tag tag-dridex label label-default  fresh label-primary ">dridex</span>
                <span data-tag="malware" class="yeti-tag tag-malware label label-default  fresh label-primary ">malware</span>
                <span data-tag="crimeware" class="yeti-tag tag-crimeware label label-default  fresh label-primary ">crimeware</span>
                <span data-tag="banker" class="yeti-tag tag-banker label label-default  fresh label-primary ">banker</span>
                <span data-tag="c2" class="yeti-tag tag-c2 label label-default  fresh label-primary ">c2</span>
            </div>
            <h1>Discovery</h1>
            <p>This URL was first discovered in an email sent to someone, by someone else.</p>
            <hr>
            <h2 id="documents">Documents</h2>
            <p>StackEdit stores your documents in your browser, which means all your documents are automatically saved locally and are accessible <strong>offline!</strong></p>
            <blockquote>
                <p><strong>Note:</strong></p>
                <ul>
                  <li>StackEdit is accessible offline after the application has been loaded for the first time.</li>
                  <li>Your local documents are not shared between different browsers or computers.</li>
                  <li>Clearing your browser’s data may <strong>delete all your local documents!</strong> Make sure your documents are synchronized with <strong>Google Drive</strong> or <strong>Dropbox</strong> (check out the <a href="#synchronization"><i class="icon-refresh"></i> Synchronization</a> section).</li>
                 </ul>
             </blockquote>
        </div>
        <div id="graph-sidebar-links" class="tab-pane">
            <h2>Hostname</h2>
            <ul>
                <li>
                    <div class="graph-sidebar-link-value"><i class="flaticon-links11"></i> http://hrakruehome.de/87yte55/6t45eyv.exe</div>
                    <div class="graph-sidebar-link-label">
                        hostname
                        <div class="graph-sidebar-link-actions">
                            <i class="flaticon-network38"></i>
                            <i class="glyphicon glyphicon-list"></i>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <h2>A record</h2>
            <ul>
                <li>
                    <div class="graph-sidebar-link-value"><i class="flaticon-computer189"></i> 212.40.179.94</div>
                    <div class="graph-sidebar-tags">
                        <span data-tag="dridex" class="yeti-tag tag-dridex label label-default  fresh label-primary ">dridex</span>
                        <span data-tag="malware" class="yeti-tag tag-malware label label-default  fresh label-primary ">malware</span>
                        <span data-tag="crimeware" class="yeti-tag tag-crimeware label label-default  fresh label-primary ">crimeware</span>
                        <span data-tag="banker" class="yeti-tag tag-banker label label-default  fresh label-primary ">banker</span>
                        <span data-tag="c2" class="yeti-tag tag-c2 label label-default  fresh label-primary ">c2</span>
                    </div>
                    <div class="graph-sidebar-link-label">
                        A record
                        <div class="graph-sidebar-link-actions">
                            <i class="flaticon-network38"></i>
                            <i class="glyphicon glyphicon-list"></i>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>

            <h2><i class="flaticon-server20"></i> NS records</h2>
            <ul>
                <li>
                    <div class="graph-sidebar-link-value"> ns1.kabelhosting.net</div>

                </li>
                <li>
                    <div class="graph-sidebar-link-value"> ns2.kabelhosting.net</div>

                </li>
                <li>
                    <div class="graph-sidebar-link-value"> ns3.kabelhosting.net</div>

                </li>
                <li>
                    <div class="graph-sidebar-link-value"> ns4.kabelhosting.net</div>


                </li>
            </ul>
        </div>
        <div id="graph-sidebar-analytics" class="tab-pane">
            <div class="graph-sidebar-analytics">
                <h2>Whois</h2>
                <p>Performs a Whois query through DomainTools, and extracts relevant observables.</p>
                <div class="graph-sidebar-analytics-action">
                    <button class="btn btn-sm btn-blue"><i class="glyphicon glyphicon-play-circle"></i> Run</button>
                </div>
            </div>
            <div class="graph-sidebar-analytics">
                <h2>Passive DNS</h2>
                <p>Queries PassiveTotal in order to retrieve all IP addresses that were once pointed by this domain name.</p>
                <div class="graph-sidebar-analytics-action">
                    <button class="btn btn-sm btn-blue"><i class="glyphicon glyphicon-play-circle"></i> Run</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="graph"></div>

<script type="text/javascript">
    // Define default icons
    function flaticon(code) {
        return {
            face: 'Flaticon',
            code: code,
            size: 50,
            color: '#495B6C',
        };
    }

    var icons = {
        Ip: flaticon('\ue001'),
        Hostname: flaticon('\ue00c'),
        Url: flaticon('\ue008'),
        Email: flaticon('\ue009'),
        Text: flaticon('\ue00d'),
    }

    var cssicons = {
        Ip: 'flaticon-computer189',
        Hostname: 'flaticon-server20',
        Url: 'flaticon-links11',
        Email: 'flaticon-message99',
        Text: 'flaticon-typography2',
    }

    // Define initial observable
    var observable = {
        id: '{{observable.id}}',
        label: '{{observable.value}}',
        type: '{{observable.type}}',
        tags: [],
        contexts: [],
        visible: true,
        shape: 'icon',
        icon: icons['{{observable.type}}']
    }

    {% for tag in observable.tags %}
        observable.tags.push('{{tag}}');
    {% endfor %}

    {% for context in observable.context %}
        observable.contexts.push('{{context}}')
    {% endfor %}
</script>

<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/graph.js') }}"></script>

{% raw %}
<script id="graph-sidebar-analytics-template" type="text/x-handlebars-template">
    {{#each analytics}}
        <div class="graph-sidebar-analytics">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <div class="graph-sidebar-analytics-results">
            </div>
            <div class="graph-sidebar-analytics-action">
                <button class="btn btn-sm btn-blue graph-sidebar-run-analytics" data-name='{{name}}' data-style='slide-up' data-size='s'><span class="ladda-label"><i class="glyphicon glyphicon-refresh"></i> Run</span></button>
            </div>
        </div>
    {{else}}
        No analytics to display.
    {{/each}}
</script>

<script id="graph-sidebar-links-template" type="text/x-handlebars-template">
    <ul class="graph-sidebar-links">
        {{#each links}}
            <li>
                <div class="graph-sidebar-link-value"><i class="{{cssicon}}"></i> {{value}}</div>
                <div class="graph-sidebar-tags">
                    {{#each tags}}
                        <span class="yeti-tag label label-default label-primary ">{{name}}</span>
                    {{/each}}
                </div>
                <div class="graph-sidebar-link-label">
                    {{label}}
                    <div class="graph-sidebar-link-actions">
                        <a class="graph-sidebar-display-link" data-link="{{id}}" data-node="{{nodeId}}"><i class="flaticon-network38"></i></a>
                        <i class="glyphicon glyphicon-list"></i>
                    </div>
                </div>
                <div class="clear"></div>
            </li>
        {{else}}
            <li>No links to dispay.</li>
        {{/each}}
    </ul>
</script>

<script id="graph-sidebar-node-template" type="text/x-handlebars-template">
    <div id="graph-sidebar-icon" class="flaticon-server20"></div>
    <div id="graph-sidebar-value">{{label}}</value></div>

    <ul id="graph-sidebar-tabs" class="nav nav-pills nav-justified">
      <li class="active"><a data-toggle="pill" href="#graph-sidebar-info">Info</a></li>
      <li><a data-toggle="pill" href="#graph-sidebar-links">Links</a></li>
      <li><a data-toggle="pill" href="#graph-sidebar-analytics">Analytics</a></li>
    </ul>

    <div id="graph-sidebar-content" class="tab-content" data-id='{{id}}'>
        <div id="graph-sidebar-info" class="tab-pane active">
            <h1>Tags</h1>
            <div class="graph-sidebar-tags">
                {{#each tags}}
                    <span class="yeti-tag label label-default">{{name}}</span>
                {{else}}
                    No tags to display.
                {{/each}}
            </div>
            <h1>Contexts</h1>
            <div class="graph-sidebar-contexts">
                {{#each context}}
                    {{source}}
                {{else}}
                    No context to display.
                {{/each}}
            </div>
        </div>

        <div id="graph-sidebar-links" class="tab-pane">
            <h2>Links to observable</h2>
            <div id="graph-sidebar-links-to-{{id}}">Links loading ...</div>
            <h2>Links from observable</h2>
            <div id="graph-sidebar-links-from-{{id}}">Links loading ...</div>
        </div>

        <div id="graph-sidebar-analytics" class="tab-pane">
            <div id="graph-sidebar-analytics-{{id}}">
                Analytics loading ...
            </div>
        </div>
    </div>
</script>
{% endraw %}

<div>
{% endblock %}
