{% raw %}
<script id="graph-sidebar-analytics-template" type="text/x-handlebars-template">
    {{#each analytics}}
        <div class="graph-sidebar-analytics">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <div class="graph-sidebar-analytics-results">
            </div>
            <div class="graph-sidebar-analytics-action">
                <button class="btn btn-sm btn-blue graph-sidebar-run-analytics" data-id='{{id}}' data-style='slide-up' data-size='s'><span class="ladda-label"><i class="glyphicon glyphicon-refresh"></i> Run</span></button>
            </div>
        </div>
    {{else}}
        No analytics to display.
    {{/each}}
</script>

<script id="graph-sidebar-links-template" type="text/x-handlebars-template">
    <ul class="graph-sidebar-links">
        {{#each links}}
            {{#equal @key 'null'}}
                <li class="graph-sidebar-link-description">No description</li>
            {{else}}
                <li class="graph-sidebar-link-description">{{@key}}{{../suffix}}</li>
            {{/equal}}
            {{#each this}}
                <li {{#unless @last}}class="graph-sidebar-border-bottom"{{/unless}}>
                    <div class="graph-sidebar-link-value"><i class="{{cssicon}}"></i> {{value}}</div>
                    <div class="graph-sidebar-tags">
                        {{#each tags}}
                            <span class="yeti-tag label label-default label-primary ">{{name}}</span>
                        {{/each}}
                    </div>
                    <div class="graph-sidebar-link-label">
                        {{#if active}}
                            active
                        {{else}}
                            {{date first_seen}} → {{date last_seen}}
                        {{/if}}
                        <div class="graph-sidebar-link-actions">
                            {{#hasMoreHistory this}}
                                <a tabindex="0" role="button" class="graph-sidebar-display-link" rel="popover" data-popover-content="#graph-sidebar-history-{{id}}"><i class="glyphicon glyphicon-time"></i></a>
                                <div id="graph-sidebar-history-{{id}}" class="hide">
                                    <ul class="graph-sidebar-history">
                                        {{#each history}}
                                            <li>
                                                <div>
                                                    {{date first_seen}} → {{date last_seen}}
                                                    {{#if description}}
                                                        ({{description}})
                                                    {{/if}}
                                                </div>
                                                <div class="graph-sidebar-history-sources">Sources: {{sources}}</div>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/hasMoreHistory}}
                            <a class="graph-sidebar-display-link" data-link="{{id}}"><i class="flaticon-network38"></i></a>
                            <a class="graph-sidebar-view-node" data-node="{{nodeId}}"><i class="glyphicon glyphicon-list"></i></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            {{/each}}
        {{/each}}
    </ul>
</script>

<script id="graph-sidebar-node-template" type="text/x-handlebars-template">
    <div id="graph-sidebar-icon" class="{{cssicon}}"></div>
    <div id="graph-sidebar-value">{{label}}</value></div>

    <ul id="graph-sidebar-tabs" class="nav nav-pills nav-justified">
      <li><a data-toggle="pill" href="#graph-sidebar-info">Info</a></li>
      <li class="active"><a data-toggle="pill" href="#graph-sidebar-links">Links</a></li>
      <li><a data-toggle="pill" href="#graph-sidebar-analytics">Analytics</a></li>
    </ul>

    <div id="graph-sidebar-content" class="tab-content" data-id='{{id}}'>
        <div id="graph-sidebar-info" class="tab-pane">
            <h1>Tags</h1>
            <div class="graph-sidebar-tags">
                {{#each tags}}
                    <span class="yeti-tag label label-default">{{name}}</span>
                {{else}}
                    No tags to display.
                {{/each}}
            </div>
            <h1>Contexts</h1>
            <div class="graph-sidebar-contexts">
                {{#each context}}
                    {{source}}
                {{else}}
                    No context to display.
                {{/each}}
            </div>
        </div>

        <div id="graph-sidebar-links" class="tab-pane active">
            <div id="graph-sidebar-links-to-{{id}}">Links loading ...</div>
            <div id="graph-sidebar-links-from-{{id}}"></div>
        </div>

        <div id="graph-sidebar-analytics" class="tab-pane">
            <div id="graph-sidebar-analytics-{{id}}">
                Analytics loading ...
            </div>
        </div>
    </div>
</script>
{% endraw %}
