{% extends "base.html" %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='handlebars/handlebars.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='typeahead/typeahead.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='visjs/vis.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="bootstrap-tokenfield/js/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="jquery-ui/js/jquery-ui.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/forms.js") }}" charset="utf-8"></script>
<link href="{{ url_for('frontend.static', filename='visjs/vis.min.css') }}" rel="stylesheet" type="text/css" />
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="jquery-ui/css/jquery-ui.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/bootstrap-tokenfield.min.css") }}">
{% endblock %}

{% block main %}
</div>

<div id="graph-sidebar">
    <div id="graph-sidebar-investigation-name" class="hover-block">
        {% if investigation.name %}
            <span>{{investigation.name}}</span>
        {% else %}
            <span class="unsaved">Unnamed Investigation</span>
        {% endif %}
        <form>
            <input type="text" class="hidden" />
        </form>
        <div class="pull-right">
            <a class="hover-link"><i class="glyphicon glyphicon-edit"></i></a>
        </div>
    </div>
    <div id="graph-sidebar-dynamic">
        <div id="graph-sidebar-icon" class="flaticon-network38"></div>
        <div id="graph-sidebar-content">
            <p>Click on a node to get info.</p>
        </div>
    </div>
</div>
<div id="graph-sidebar-resize"></div>
<div id="graph">
    <div id="graph-toolbar">
        <ul>
            <li><input class="form-control typeahead" type="text" id="graph-quick-add" placeholder="Quick Add" /></li>
            <li class="sep">&nbsp;</li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.ObservablesView:new') }}"><i class="fa fa-plus"></i></a></li>
            <li class="sep">&nbsp;</li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.IndicatorsView:new_subclass', subclass='regex') }}"><i class="flaticon-magnifying-glass40"></i></a></li>
            <li class="sep">&nbsp;</li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.EntitiesView:new_subclass', subclass='malware') }}"><i class="flaticon-bug24"></i></a></li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.EntitiesView:new_subclass', subclass='actor') }}"><i class="flaticon-malware"></i></a></li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.EntitiesView:new_subclass', subclass='ttp') }}"><i class="flaticon-maths5"></i></a></li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.EntitiesView:new_subclass', subclass='company') }}"><i class="flaticon-building259"></i></a></li>
            <li class="sep">&nbsp;</li>
            <li><a id="graph-add-link"><i class="fa fa-expand"></i></a></li>
        </ul>
    </div>
    <div id="graph-network"></div>
</div>

<div class="modal fade" id="graph-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <form>
          <div class="modal-body">
          </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="graph-mobal-submit">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include "graph_templates.html" %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/graph.js') }}"></script>

<script type="text/javascript">
    $(function() {
        var investigation = JSON.parse({{investigation|tojson}})
        investigation = new Investigation(investigation);
    });
</script>

<div>
{% endblock %}
