{% extends "base.html" %}

{% block main %}
</div>

<script type="text/javascript" src="{{ url_for('frontend.static', filename='handlebars/handlebars.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='typeahead/typeahead.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='visjs/vis.min.js') }}"></script>
<link href="{{ url_for('frontend.static', filename='visjs/vis.min.css') }}" rel="stylesheet" type="text/css" />

<div id="graph-sidebar">
    <div id="graph-sidebar-investigation-name" class="hover-block">
        {% if investigation.name %}
            <span>{{investigation.name}}</span>
        {% else %}
            <span class="unsaved">Unnamed Investigation</span>
        {% endif %}
        <form>
            <input type="text" class="hidden" />
        </form>
        <div class="pull-right">
            <a class="hover-link"><i class="glyphicon glyphicon-edit"></i></a>
        </div>
    </div>
    <div id="graph-sidebar-dynamic">
        <div id="graph-sidebar-icon" class="flaticon-network38"></div>
        <div id="graph-sidebar-content">
            <p>Click on a node to get info.</p>
        </div>
    </div>
</div>
<div id="graph-sidebar-resize"></div>
<div id="graph">
    <div id="graph-toolbar">
        <ul>
            <li><input class="form-control typeahead" type="text" id="graph-quick-add" placeholder="Quick Add" /></li>
            <li class="sep">&nbsp;</li>
            <li><i class="fa fa-plus"></i></li>
            <li class="sep">&nbsp;</li>
            <li><i class="flaticon-magnifying-glass40"></i></li>
            <li class="sep">&nbsp;</li>
            <li><i class="flaticon-bug24"></i></li>
            <li><i class="flaticon-malware"></i></li>
            <li><i class="flaticon-maths5"></i></li>
            <li><i class="flaticon-building259"></i></li>
            <li class="sep">&nbsp;</li>
            <li><i class="fa fa-expand"></i></li>
        </ul>
    </div>
    <div id="graph-network"></div>
</div>

{% include "graph_templates.html" %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/graph.js') }}"></script>

<script type="text/javascript">
    $(function() {
        var investigation = JSON.parse({{investigation|tojson}})
        investigation = new Investigation(investigation);
    });
</script>

<div>
{% endblock %}
