{% macro display_tags(tags) -%}
  {% for tag in tags %}<span class="yeti-tag tag-{{tag['name']}} label label-default {% if tag['fresh']%} fresh label-primary {%endif%}">{{tag['name']}}</span>{% endfor %}
{%- endmacro %}

{% macro display_last_analyses(last_analyses) -%}
  {% for last in last_analyses %}
  {{last}} <small>({{display_datetime(last_analyses[last])}})</small>
  {% endfor %}
{%- endmacro %}

{% macro display_datetime(date) -%}
  {{ date.strftime('%Y-%m-%d %H:%M') }}
{%- endmacro %}

{% macro display_date(date) -%}
  {{ date.strftime('%Y-%m-%d') }}
{%- endmacro %}

{% macro display_context(context) -%}
<div class="col-md-4">


<div class="panel panel-danger yeti-panel">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#{{context['source']}}" aria-expanded="true" aria-controls="{{context['source']}}">
          {{context['source']}}
          <span class="glyphicon glyphicon-plus-sign" style="float:right" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="{{context['source']}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table table-condensed">
          {% for key, value in context.items() if key not in ['source']%}
          <tr><th>{{key}}</th><td>{{value}}</td></tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{%- endmacro%}

{% macro display_yeti(element, key) -%}
  {% if key == 'tags' %}
    {{display_tags(element)}}
  {% elif key == 'last_analyses'%}
    {{display_last_analyses(element)}}
  {% elif key == 'created'%}
    {{display_datetime(element)}}
  {% else %}
    {{ element }}
  {% endif %}
{%- endmacro %}
