{% macro display_tags(tags) -%}
  {% if tags is string %}
    <span data-tag="{{tags["name"] or tags}}" class="yeti-tag tag-{{tags["name"] or tags}} label label-default {% if tags["fresh"]%} fresh label-primary {%endif%}">{{tags["name"] or tags}}</span>
  {% else%}
    {% for tag in tags %}<span data-tag="{{tag["name"] or tag}}" class="yeti-tag tag-{{tag["name"] or tag}} label label-default {% if tag["fresh"]%} fresh label-primary {%endif%}">{{tag["name"] or tag}}</span>{% endfor %}
  {% endif %}
{%- endmacro %}

{% macro display_last_analyses(last_analyses) -%}
  {% for last in last_analyses %}
  {{last}} <small>({{display_datetime(last_analyses[last])}})</small>
  {% endfor %}
{%- endmacro %}

{% macro display_datetime(date) -%}
  {% if date %}
    {{ date.strftime("%Y-%m-%d %H:%M") }}
  {% endif%}
{%- endmacro %}

{% macro display_date(date) -%}
  {{ date.strftime("%Y-%m-%d") }}
{%- endmacro %}

{% macro display_context(context) -%}
  <h4>{{context["source"]}}<span class="small yeti-toggle" data-target="details-{{context["source"]|replace(" ", "-")}}">[details]</span></h4>
  <div id="details-{{context["source"]|replace(" ", "-")}}" class="panel-collapse collapse" role="tabpanel">
    <table class="table table-condensed">
      {% for key, value in context.items() if key not in ["source"]%}
      <tr><th>{{key}}</th><td>{{display_yeti(value, key)}}</td></tr>
      {% endfor %}
    </table>
  </div>
{%- endmacro%}

{% macro display_yeti(element, key) -%}
  {% if key == "tags" or key == "aliases" %}
    {{display_tags(element)}}
  {% elif key == "last_analyses"%}
    {{display_last_analyses(element)}}
  {% elif key == "created"%}
    {{display_datetime(element)}}
  {% elif key == "raw" %}
    <pre>{{element}}</pre>
  {% elif element is string %}
    {{ element }}
  {% elif element is iterable %}
    {{ element|join(', ') }}
  {% else %}
    {{ element }}
  {% endif %}
{%- endmacro %}


{% macro render(form) -%}
<form action="{{request.path}}" method="POST">
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
  <div class="form-group {% if field.errors %}error{% endif %}">
    <!-- {{field.label}}|{{field.name}}|{{field.type}} -->
    <label for="{{field.name}}">{{field.label}}</label>
      {{ field(class_="form-control") }}
      {% if field.errors or field.help_text %}
        <p class="help-block">
        {% if field.errors %}
          {{ field.errors|join(' ') }}
        {% else %}
          {{ field.help_text }}
        {% endif %}
        </p>
      {% endif %}

  </div>
{% endif %}
{% endfor %}
<input type="submit" class="btn btn-primary" value="save">
</form>
{% endmacro %}
