{% extends "base.html" %}

{% block title %}
Browse
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li class="active">Browse</li>
</ol>
{% endblock %}

{% block main %}
<div class="col-md-9">
	<div role="tabpanel" class="tab-pane active" id="observables" data-url="{{ url_for('api.ObservableSearch:post')}}"></div>
</div>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/forms.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/crud.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="bootstrap-tokenfield/js/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/selection.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="jquery-ui/js/jquery-ui.min.js") }}" charset="utf-8"></script>

<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="jquery-ui/css/jquery-ui.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/tokenfield-typeahead.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/bootstrap-tokenfield.min.css") }}">
{%endblock%}

{% block sidebar %}
<div class="col-md-3">
	<form data-target="observables" data-url="{{ url_for("api.ObservableSearch:post")}}" class="yeti-crud">

		<div class="input-group">
  			<input class="form-control input-sm crud-filter" data-default-value="value" placeholder="Search query + &#9166;" value="{{request.args.get("query", "")}}">
			<span class="input-group-btn">
				<button class="btn btn-primary btn-sm crud-search" type="button"><i style="display:none;" class="fa fa-refresh fa-spin" id="spinner"></i><span id="go">Go</span></button>
			</span>
		</div>
		<div class="checkbox input-group-lg">
			<label class="checkbox">
			      <input id="regex" type="checkbox" class="crud-regex"> Regex search (slower)
			</label>
		</div>



		<ul class="pagination">
	    <li><a class="crud-paginator" data-direction="-1" aria-label="Previous">Prev</a></li>
	    <li><a class="crud-pagination" data-page="1">Page <span class="crud-pagenumber">1</span></a></li>
	    <li><a class="crud-paginator" data-direction="1" aria-label="Next">Next</a></li>
	  </ul>

		<div class="tip">
			<p>You can run complex queries against the database using the input field above.</p>
			<p>By default, the query will be matched against the <code>value</code> attribute of the observables.
			To match against other attributes, use <code>attribute=query</code>.</p>

			<p>Examples:</p>
			<ul>
				<li><strong>Generic tag query</strong>: <code>tags=crimeware</code></li>
				<li><strong>Gate URLs</strong>: <code>tags=zeus .php$</code> (regex <code>on</code>)</li>
				<li><strong>Ransomware C2s</strong>: <code>tags=c2,ransomware</code></li>
				<li><strong>Context</strong>: <code>context.source=FeodoTracker</code></li>
			</ul>


		</div>

	</form>

    <div id="selection">
        <h5>Actions</h5>

        <p id="selection-all">Actions below apply on all observables matching current query.</p>
        <p id="selection-specific" class="hidden">Actions below apply only on <span id="selection-count">0</span> items selected.</p>

        <div class="panel-group selection-actions" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#selection-tags">
                  Manage Tags
                </a>
              </h4>
            </div>
            <div id="selection-tags" class="panel-collapse collapse" role="tabpanel">
              <div class="panel-body">
                  <form id="tag-form" class="yeti-form" method="post">
                    <input type="hidden" name="strict" value="true">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm tagfield" data-choices="{{ url_for("api.Tag:index") }}" name="tags" />
                        <div class="selection-ids"></div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-sm selection-tags-action" data-action="{{url_for('frontend.ObservableView:tag')}}"><span class="hidden"><i class="fa fa-spinner spinner"></i> </span>Add</button>
                        <button class="btn btn-danger btn-sm selection-tags-action" data-action="{{url_for('frontend.ObservableView:untag')}}"><span class="hidden"><i class="fa fa-spinner spinner"></i> </span>Remove</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#selection-export">
                  Export
                </a>
              </h4>
            </div>
            <div id="selection-export" class="panel-collapse collapse">
              <div class="panel-body">
                  <form action="{{url_for('frontend.ObservableView:export')}}" method="post" class="selection-form" target="_blank">
                      <div class="form-group">
                        <select class="form-control yeti-select" name="template">
                          {% for template in export_templates %}
                          <option value="{{template.id}}">{{template.name}}</option>
                          {% endfor %}
                        </select>
                        <div class="selection-ids"></div>
                      </div>
                      <button class="btn btn-primary btn-sm yeti-save pull-right">Export</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var selectionManager = new SelectionManager("#observables", ".node-line");
</script>
{% endblock %}
