{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block main %}

<div class="cold-md-12">
  <h1>{% if not obj %}New {{obj_type}}{% else %}Editing observable{%endif%}</h1>
  <form action="{{request.path}}" method="POST" class="yeti-form">
  <div class="row">
    <div class="col-md-3">
      {% for field in form if field.name != 'description'%}
        {{ macros.render_field(field) }}
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="save">
    </div>
    <div class="col-md-9">
      {{ macros.render_field(form.description, rows=12) }}
    </div>
  </div>
  </form>
</div>

{% endblock %}
