{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/forms.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="bootstrap-tokenfield/js/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="jquery-ui/js/jquery-ui.min.js") }}" charset="utf-8"></script>

<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="jquery-ui/css/jquery-ui.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/tokenfield-typeahead.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/bootstrap-tokenfield.min.css") }}">

{% endblock %}

{% block main %}

<div class="cold-md-12">
  
  <form action="{{request.path}}" method="POST" class="yeti-form">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>{% if not obj %}New {{obj_type}}{% else %}Editing observable{%endif%}</h1>
      {{ macros.render_generic_errors(form)}}
    </div>
    <div class="col-md-3 col-md-offset-1">
      {% for field in form if field.name != 'description'%}
        {{ macros.render_field(field) }}
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="save">
    </div>
    <div class="col-md-7">
      {{ macros.render_field(form.description, rows=12) }}
    </div>
  </div>
  </form>
</div>

{% endblock %}
