{% extends "base.html" %}
{% import "macros/generic.html" as macros %}

{% block title %}
{% if not obj %}New {{obj_type}}{% else %}Editing {{obj.name}}{%endif%}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
  <li><a href="{{url_for('frontend.ObservablesView:index')}}">Observables</a></li>
	<li class="active">{% if not obj %}New {{obj_type}}{% else %}Edit{%endif%}</li>
</ol>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/forms.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="bootstrap-tokenfield/js/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="jquery-ui/js/jquery-ui.min.js") }}" charset="utf-8"></script>

<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="jquery-ui/css/jquery-ui.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/tokenfield-typeahead.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/bootstrap-tokenfield.min.css") }}">
{% endblock %}

{% block main %}

<div class="cold-md-12">

  <form action="{{request.path}}" method="POST" class="yeti-form yeti-add-node">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>{% if not obj %}New {{obj_type}}{% else %}Editing observable{%endif%}</h1>
    </div>
    <div class="form-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ macros.render_generic_errors(form)}}
            </div>
            <div class="col-md-3 col-md-offset-1">
              {% for field in form if field.name != 'description'%}
                {{ macros.render_field(field) }}
              {% endfor %}

              {% if not obj %}
              <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" name="type" id="type">
                    <option value=""></option>
                    {% for t in g.observables %}
                        <option value="{{t.__name__}}">{{t.__name__}}</option>
                    {% endfor %}
                </select>
              </div>
              {% endif %}
            </div>
            <div class="col-md-7">
              {{ macros.render_field(form.description, rows=12, class="form-control markdown") }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </div>
  </div>
  </form>
</div>

{% endblock %}
