{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li class="active">Bulk operations</li>
</ol>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/forms.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="bootstrap-tokenfield/js/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="jquery-ui/js/jquery-ui.min.js") }}" charset="utf-8"></script>

<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="jquery-ui/css/jquery-ui.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/tokenfield-typeahead.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/bootstrap-tokenfield.min.css") }}">

<script type="text/javascript">
$(function() {
	$("#add-checkbox").click(function() {
		$("#tags").toggle();
	});
});
</script>

<style media="screen">
	#insert-form {
		line-height:35px;
	}

	#tags{
		margin-left:20px;
	}

</style>
{% endblock %}

{% block main %}

<div class="row">
	<div class="col-md-4 user-text">
		<h3>Bulk operation</h3>
		<p>Launch bulk queries on YETI's observable database</p>
		<p>YETI's database can be bulk-queried. Unknown observables can be automatically added to the database (bulk-insert)</p>
		<p>Tags are only used when doing bulk-inserts</p>
	</div>
	<div class="col-md-6" >

		<form action="{{ url_for('frontend.ObservablesView:query')}}" class="yeti-form" method="POST">

			<div class="form-inline" id="insert-form">

				<div class="form-group">
					<div class="checkbox">
				    <label>
				      <input type="checkbox" id="add-checkbox" name="add"> Add unknown observables to database
				    </label>
				  </div>
				</div>
				<div class="form-group" id="tags" style="display:none">
					<input type="text" class="form-control tagfield" data-choices="{{url_for('api.tagapi')}}" name="tags" value="" placeholder="Tags">
				</div>
			</div>

			<br>

			<div class="form-group">
				<textarea class="form-control" name="bulk-text" rows="8"></textarea>
			</div>

			<div class="form-group">
				<input name="bulk-file" type="file">
				<p class="help-block">Uploaded file will take precedence over text</p>
		  </div>


			<input class="btn btn-primary btn-sm" type="submit" value="Launch">
		</form>
	</div>


</div>

{% endblock %}
