<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#selection-tags-group">
        Add new group
      </a>
    </h4>
  </div>
  <div id="selection-tags-group" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
        <form method="post" action="{{ url_for("auth.new_group") }}">
          <div class="form-group">
              <input type="text" class="form-control" name="groupname" placeholder="Groupname" required/>
          </div>
          <div class="pull-right">
              <input class="btn btn-primary btn-sm" type="submit" name="" value="Add group">
          </div>
        </form>
    </div>
  </div>
</div>
