@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
    font-style: normal;
}.flaticon-binary5:before {
	content: "\e000";
}
.flaticon-bug24:before {
	content: "\e001";
}
.flaticon-businessman116:before {
	content: "\e002";
}
.flaticon-cloud297:before {
	content: "\e003";
}
.flaticon-computer189:before {
	content: "\e004";
}
.flaticon-computer192:before {
	content: "\e005";
}
.flaticon-computer309:before {
	content: "\e006";
}
.flaticon-computing10:before {
	content: "\e007";
}
.flaticon-document22:before {
	content: "\e008";
}
.flaticon-document238:before {
	content: "\e009";
}
.flaticon-earth213:before {
	content: "\e00a";
}
.flaticon-email106:before {
	content: "\e00b";
}
.flaticon-email168:before {
	content: "\e00c";
}
.flaticon-finger14:before {
	content: "\e00d";
}
.flaticon-gear74:before {
	content: "\e00e";
}
.flaticon-gears3:before {
	content: "\e00f";
}
.flaticon-internet54:before {
	content: "\e010";
}
.flaticon-job5:before {
	content: "\e011";
}
.flaticon-links11:before {
	content: "\e012";
}
.flaticon-loupe12:before {
	content: "\e013";
}
.flaticon-magnifying-glass40:before {
	content: "\e014";
}
.flaticon-magnifyingglass115:before {
	content: "\e015";
}
.flaticon-malware:before {
	content: "\e016";
}
.flaticon-mask1:before {
	content: "\e017";
}
.flaticon-maths5:before {
	content: "\e018";
}
.flaticon-message99:before {
	content: "\e019";
}
.flaticon-network38:before {
	content: "\e01a";
}
.flaticon-pci1:before {
	content: "\e01b";
}
.flaticon-pirate9:before {
	content: "\e01c";
}
.flaticon-server20:before {
	content: "\e01d";
}
.flaticon-shopping159:before {
	content: "\e01e";
}
.flaticon-supermarket20:before {
	content: "\e01f";
}
.flaticon-text70:before {
	content: "\e020";
}
.flaticon-typography2:before {
	content: "\e021";
}
.flaticon-virus13:before {
	content: "\e022";
}
.flaticon-website17:before {
	content: "\e023";
}
.flaticon-workstation:before {
	content: "\e024";
}
