/*
  Flaticon icon font: Flaticon
  Creation date: 06/04/2019 08:00
  */

@font-face {
font-family: "Flaticon";
src: url("./Flaticon.eot");
src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
     url("./Flaticon.woff2") format("woff2"),
     url("./Flaticon.woff") format("woff"),
     url("./Flaticon.ttf") format("truetype"),
     url("./Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.svg#Flaticon") format("svg");
}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
font-family: Flaticon;
      font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bitcoin:before { content: "\f100"; }
.flaticon-lan:before { content: "\f101"; }
.flaticon-internet:before { content: "\f102"; }
.flaticon-fingerprint-search-symbol-of-secret-service-investigation:before { content: "\f103"; }
.flaticon-fingerprint:before { content: "\f104"; }
.flaticon-mail:before { content: "\f105"; }
.flaticon-file:before { content: "\f106"; }
.flaticon-text-height-adjustment:before { content: "\f107"; }
.flaticon-laptop:before { content: "\f108"; }
.flaticon-world-grid:before { content: "\f109"; }
.flaticon-bug:before { content: "\f10a"; }
.flaticon-bug-1:before { content: "\f10b"; }
.flaticon-test:before { content: "\f10c"; }
.flaticon-spyware:before { content: "\f10d"; }
.flaticon-hacker:before { content: "\f10e"; }
.flaticon-robot:before { content: "\f10f"; }
.flaticon-school:before { content: "\f110"; }
.flaticon-ttp-file:before { content: "\f111"; }
.flaticon-unlink:before { content: "\f112"; }
.flaticon-file-1:before { content: "\f113"; }
.flaticon-home:before { content: "\f114"; }
.flaticon-sketch:before { content: "\f115"; }
.flaticon-share:before { content: "\f116"; }
.flaticon-files-and-folders:before { content: "\f117"; }
.flaticon-document:before { content: "\f118"; }
.flaticon-enterprise:before { content: "\f119"; }
.flaticon-advertising:before { content: "\f11a"; }
