@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
    font-style: normal;
}.flaticon-cloud297:before {
	content: "\e000";
}
.flaticon-computer189:before {
	content: "\e001";
}
.flaticon-computer192:before {
	content: "\e002";
}
.flaticon-computing10:before {
	content: "\e003";
}
.flaticon-document238:before {
	content: "\e004";
}
.flaticon-earth213:before {
	content: "\e005";
}
.flaticon-email106:before {
	content: "\e006";
}
.flaticon-internet54:before {
	content: "\e007";
}
.flaticon-links11:before {
	content: "\e008";
}
.flaticon-message99:before {
	content: "\e009";
}
.flaticon-network38:before {
	content: "\e00a";
}
.flaticon-pci1:before {
	content: "\e00b";
}
.flaticon-server20:before {
	content: "\e00c";
}
.flaticon-typography2:before {
	content: "\e00d";
}
.flaticon-website17:before {
	content: "\e00e";
}
.flaticon-workstation:before {
	content: "\e00f";
}
