/* app-wide changes */

.yeti-content {
  font-size: 0.85em;
  width:100%;
}

.yeti-table tbody > tr > th {
  border-top:0px;
}


/* panels */

.yeti-panel h2, .yeti-panel h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom:0;
}

.yeti-panel table {
  margin-bottom:0px;
}

/* tag colors */

.yeti-tag {
  margin: 0 1px 0 1px;
}

.tag-evil {
  color: white;
	background-color: #f33;
}
