/* app-wide changes */

.yeti-content {
  font-size: 0.85em;
  width:100%;
}

.yeti-table tbody > tr > th {
  border-top:0px;
}

.paginator {
  cursor:pointer;
}

/* panels */

.yeti-panel .yeti-tag {
  display: block;
  float: left;
  padding: 3px 5px 5px 5px;
  margin: 1px;
}

.yeti-panel h2, .yeti-panel h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom:0;
}

.yeti-panel ul {
  margin-bottom: 0px;
}

.yeti-observable-description:first-child h1,
.yeti-observable-description:first-child h2,
.yeti-observable-description:first-child h3,
.yeti-observable-description:first-child h4 {
  margin-top:0;
}

.yeti-panel table {
  margin-bottom:0px;
  margin-top: 0px;
}

.yeti-panel tr:first-child td, .yeti-panel tr:first-child th {
  border-top: 0px;
}

/* tags */

.yeti-tag {
  margin: 0 1px 0 1px;
  font-size: 85%;
}

.tag-evil {
  color: white;
	background-color: #f33;
}

.tag-all {
  margin:3px 3px 3px 10px;
  cursor: pointer;
}
