/* app-wide changes */

.user-text {
  font-size: 14px;
}

.user-text h3 {
  margin-top:10px;
}

.hidden {
  display:none;
}

.yeti-content {
  font-size: 0.85em;
  width:100%;
}

.yeti-toggle {
    cursor: pointer;
}

span.yeti-toggle {
  margin-left: 10px;
  color: #337ab7;
}

.yeti-table tbody > tr > th {
  border-top:0px;
}

#observables .yeti-table tr {
  white-space: nowrap;
}

#observables {
  overflow-x: scroll;
}

.paginator {
  cursor:pointer;
}

/* forms */

#pattern textarea {
  font-family: monospace;
  font-size: 12px;
}

/* panels */

.yeti-panel .yeti-tag {
  display: block;
  float: left;
  padding: 3px 5px 5px 5px;
  margin: 1px;
}

.yeti-panel h2, .yeti-panel h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom:0;
}

.yeti-panel ul {
  margin-bottom: 0px;
}

.yeti-observable-description:first-child h1,
.yeti-observable-description:first-child h2,
.yeti-observable-description:first-child h3,
.yeti-observable-description:first-child h4 {
  margin-top:0;
}

.yeti-panel table {
  margin-bottom:0px;
  margin-top: 0px;
}

.yeti-panel tr:first-child td, .yeti-panel tr:first-child th {
  border-top: 0px;
}

/* tags */

.yeti-tag {
  background-color: #38a;
  margin: 0 1px 0 1px;
  font-size: 85%;
  cursor: default;
}

.yeti-edit-elt:hover .yeti-tag,
.yeti-edit-elt.selected .yeti-tag,
.yeti-tag.selected {
  background-color: #E03030;
  cursor: pointer;
}

.tag-added {
  color:black;
  background-color: #55C855;
}

.yeti-expired {
  background-color: #777;
}

.tag-evil {
  color: white;
  background-color: #e33;
}

.tag-whitelist {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.tag-blocklist {
  color: white;
	background-color: #e33;
}

.yeti-interact .yeti-tag  {
  cursor: pointer;
}

.yeti-disabled .yeti-tag {
  opacity: 0.5;
  cursor: not-allowed;
}

.tag-all {
  margin:3px 3px 3px 10px;
  cursor: pointer;
}

/* dataflow */

.feed-toggle, .feed-refresh,
.export-toggle, .export-refresh,
.analytics-toggle, .analytics-refresh {
  cursor:pointer;
}

.yeti-table tr.disabled {
  opacity: 0.3;
}

.yeti-table tr.disabled .feed-refresh,
.yeti-table tr.disabled .export-refresh {
  cursor: not-allowed;
}

/* graph */

#graph {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 305px;
    right: 0px;
}

#graph-quick-add {
    border: 1px solid #00CCFF;
    background-color: transparent;
    color: white;
    width: 300px;
}

#graph-toolbar {
    border-top: 3px solid #00CCFF;
    background-color: #495B6C;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -15px;
}

#graph-toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#graph-toolbar li {
    display: inline-block;
    margin-left: 10px;
}

#graph-toolbar li.sep {
    border-left: 1px solid grey;
}

#graph-toolbar a {
    color: white;
}

#graph-toolbar a:hover {
    color: #00CCFF;
    text-decoration: none;
}

#graph-network {
    height: 100%;
}

#graph-sidebar {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    width: 300px;
    background-color: #495B6C;
    color: white;
    padding: 20px;
    overflow: auto;
    border-top: 3px solid #00CCFF;
}

#graph-sidebar-resize {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 5px;
    left: 300px;
    cursor: col-resize;
}

#graph-sidebar-icon {
    text-align: center;
    font-size: 50px;
}

#graph-sidebar-value {
    text-align: center;
    font-size: 20px;
    word-break: break-all;
    margin-left: 20px;
    margin-right: 20px;
}

#graph-sidebar-value-actions {
    padding-top: 5px;
}

.graph-sidebar-link-value {
    word-break: break-all;
}

#graph-sidebar-tabs {
    margin-top: 20px;
    font-size: 14px;
}

#graph-sidebar-tabs .active a,
#graph-sidebar-tabs a:hover {
    background-color: #00CCFF;
    color: white
}

#graph-sidebar-value-actions a,
#graph-sidebar-tabs a {
    color: #00CCFF;
}

#graph-sidebar-content {
    font-size: 14px;
    text-align: justify;
}

#graph-sidebar-content h1 {
    font-size: 20px;
}

#graph-sidebar-content h2 {
    font-size: 18px;
}

#graph-sidebar-content h4 {
    color: #00CCFF;
}

#graph-sidebar-content h5 {
    padding-bottom: 3px;
    border-bottom: 1px dashed #888888;
}

.graph-sidebar-links {
    padding: 0;
    list-style-type: none;
}

.graph-sidebar-links li {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

li.graph-sidebar-link-description {
    color: #00CCFF;
    border-bottom: 1px solid #888888;
    margin-top: 15px;
    z-index: 1;
}

li.graph-sidebar-border-bottom {
    border-bottom: 1px dashed #888888;
}

.graph-sidebar-history {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.graph-sidebar-history li {
    padding: 10px;
}

.graph-sidebar-history-sources {
    font-size: 10px;
}

.popover {
    max-width: 500px;
}

.graph-sidebar-link-label {
    color: #BBBBBB;
    font-style: italic;
}

.graph-sidebar-link-actions {
    color: #00CCFF;
    float: right;
}

.graph-sidebar-links a,
a.graph-analytics-results-links {
    color: #00CCFF;
}

#graph-sidebar-value-actions a:hover,
.graph-sidebar-links a:hover,
a.graph-analytics-results-links:hover {
    color: white;
    text-decoration: none;
}

a.graph-analytics-results-links {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
}

.graph-sidebar-analytics-error {
    color: #FF3333;
    margin-bottom: 10px;
}

#graph-sidebar pre {
    border: none;
    font-size: 10px;
    word-wrap: normal;
}

#graph-sidebar pre>code {
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
}

.clear {
    clear: both
}

.btn-blue {
    background-color: #00CCFF;
    color: black;
}

.btn-blue:hover {
    color: white;
}

.graph-sidebar-tags {
    text-align: left;
    line-height: 24px;
}

.graph-sidebar-tags .yeti-tag {
    background-color: #00CCFF;
}

.spinner,
.glyphicon-spinner .glyphicon {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.graph-link {
    width: 10px;
}

.node-line .graph-link>a {
    visibility: hidden;
}

.node-line:hover .graph-link>a {
    visibility: visible;
}

.graph-link a:hover {
    color: #00CCFF;
    text-decoration: none;
}

/* Panel buttons */

.panel-title .btn {
    margin-top: -2px;
    margin-left:5px;
}

pre>code {
    margin: -9.5px;
}

.tab-pane {
    padding-top: 20px;
}

.context-key {
    width: 130px;
}

/* Inline search form*/

.inline ul.pagination {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

div.filter.inline {
  margin:5px 0 5px 0;
}

div.filter {
  margin-top:10px;
}

.no-results {
  margin-top: 10px;
}

.hover-block a.hover-link {
    visibility: hidden;
}

.hover-block:hover a.hover-link {
    visibility: visible;
}

.unsaved {
    font-style: italic;
}

#graph-sidebar-investigation-name {
    font-size: 14pt;
    margin-bottom: 15px;
    color: #00CCFF;
    text-align: center;
}

#graph-sidebar-investigation-name a {
    color: white;
}

#graph-sidebar-investigation-name input {
    background-color: transparent;
    border: 1px solid #00CCFF;
}

#graph-sidebar-investigation-name form {
    display: inline;
}

/* Quick add */

.tt-menu {
    border-radius: 3px;
    border: 1px solid #666666;
    padding: 2px;
    background-color: white;
    min-width: 300px;
    color: #666666;
}

.tt-cursor {
    background-color: #495B6C;
    color: white;
}

.graph-quick-add-result {
    padding: 5px;
    line-height: 24px;
    border-bottom: 1px solid #CCCCCC;
}

.graph-quick-add-result:last-child {
    border-bottom: 0;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.graph-sidebar-visible-link {
    border-left: 3px solid #00CCFF;
    margin-left: -10px;
    padding-left: 10px;
}

.graph-sidebar-run-analytics {
    margin-right: 10px;
}

.graph-sidebar-analytics-last-run {
    font-style: italic;
    color: #BBBBBB;
}

#graph-sidebar .badge {
    background-color: #00CCFF;
    margin-top: -4px;
}

.selected-line {
    margin-left: -3px;
    margin-right: -3px;
    border-left: 3px solid #38a;
    border-right: 3px solid #38a;
}

.selection-actions .panel-title {
    font-size: 10pt;
}

#selection {
    margin-top: 20px;
}

#selection p {
    margin-left: 5px;
}

/* context inline forms */

input.inline {
  margin: -4px;
  /*background-color: #fcf8e3;*/
  border: 1px solid #ddd;
}

td input.inline {
  width:100%;

}
