{% raw %}

<script id="graph-quick-add-result" type="text/x-handlebars-template">
    <div class="graph-quick-add-result">
        <i class="{{cssicon}}"></i> {{label}}
        <div class="graph-quick-add-result-tags">
            {{#each tags}}
                <span class="yeti-tag label label-default">{{name}}</span>
            {{/each}}
        </div>
    </div>
</script>

<script id="graph-quick-add-empty" type="text/x-handlebars-template">
    <div class="graph-quick-add-result">
        No result found.
    </div>
</script>

<script id="graph-sidebar-analytics-template" type="text/x-handlebars-template">
    {{#each analytics}}
        <div class="graph-sidebar-analytics" id="analytics-{{id}}-{{../nodeId}}">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <div class="graph-sidebar-analytics-results">
                Loading ...
            </div>
        </div>
    {{else}}
        No analytics to display.
    {{/each}}
</script>

<script id="graph-sidebar-analytics-results-template" type="text/x-handlebars-template">
    {{#with results}}
        {{> links}}
        {{#if error}}
            <div class="graph-sidebar-analytics-error">{{error}}</div>
        {{/if}}
        {{#if raw}}
            <a class="graph-analytics-results-links" role="button" data-toggle="collapse" href="#graph-sidebar-analytics-results-{{_id}}">Display raw results</a>
            <div class="collapse graph-sidebar-analytics-raw" id="graph-sidebar-analytics-results-{{_id}}">
                <pre><code>{{raw}}</code></pre>
            </div>
        {{/if}}
        <div class="graph-sidebar-analytics-action">
            <button class="btn btn-sm btn-blue graph-sidebar-run-analytics" data-id='{{analytics}}'><i class="glyphicon glyphicon-refresh"></i> Run</button>
            <span class="graph-sidebar-analytics-last-run">Last: {{datetime datetime}}</span>
        </div>
    {{else}}
        <div class="graph-sidebar-analytics-action">
            <button class="btn btn-sm btn-blue graph-sidebar-run-analytics" data-id='{{analytics}}'><i class="glyphicon glyphicon-refresh"></i> Run</button>
        </div>
    {{/with}}
</script>

<script id="graph-sidebar-links-template" type="text/x-handlebars-template">
    <ul class="graph-sidebar-links">
        {{#each links}}
            {{#equal @key 'null'}}
                <li class="graph-sidebar-link-description">No description</li>
            {{else}}
                {{#equal @key 'undefined'}}
                    <li class="graph-sidebar-link-description">No description</li>
                {{else}}
                    <li class="graph-sidebar-link-description">{{@key}}{{../suffix}}</li>
                {{/equal}}
            {{/equal}}
            {{#each this}}
                <li class="{{#unless @last}}graph-sidebar-border-bottom{{/unless}} {{#if visible}}graph-sidebar-visible-link{{/if}}">
                    <div class="graph-sidebar-link-value"><i class="{{cssicon}}"></i> {{value}} {{#isInterestingNode this}}<span class="badge" rel="popover" data-popover-content="#graph-sidebar-links-of-interest-{{id}}">{{dictLength links_of_interest}}</span>{{/isInterestingNode}}</div>
                    <div id="graph-sidebar-links-of-interest-{{id}}" class="hide">
                        <ul class="graph-sidebar-history">
                            {{#each links_of_interest}}
                                <li>
                                    <div>
                                        {{value}}
                                        {{#if description}}
                                            ({{description}})
                                        {{/if}}
                                    </div>
                                    <div class="graph-sidebar-history-sources">
                                        {{#if active}}
                                            active
                                        {{else}}
                                            {{date first_seen}} → {{date last_seen}}
                                        {{/if}}
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="graph-sidebar-tags">
                        {{#each tags}}
                            <span class="yeti-tag label label-default label-primary ">{{name}}</span>
                        {{/each}}
                    </div>
                    <div class="graph-sidebar-link-label">
                        {{#if active}}
                            active
                        {{else}}
                            {{date first_seen}} → {{date last_seen}}
                        {{/if}}
                        <div class="graph-sidebar-link-actions">
                            {{#hasMoreHistory this}}
                                <a class="graph-sidebar-display-link" rel="popover" data-popover-content="#graph-sidebar-history-{{id}}"><i class="glyphicon glyphicon-time"></i></a>
                                <div id="graph-sidebar-history-{{id}}" class="hide">
                                    <ul class="graph-sidebar-history">
                                        {{#each history}}
                                            <li>
                                                <div>
                                                    {{date first_seen}} → {{date last_seen}}
                                                    {{#if description}}
                                                        ({{description}})
                                                    {{/if}}
                                                </div>
                                                <div class="graph-sidebar-history-sources">Sources: {{sources}}</div>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/hasMoreHistory}}
                            {{#unless visible}}
                                <a class="graph-sidebar-display-link" data-link="{{id}}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add To Graph"><i class="flaticon-network38"></i></a>
                            {{/unless}}
                            <a class="graph-sidebar-view-node" data-node="{{nodeId}}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="See Node Info"><i class="glyphicon glyphicon-list"></i></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            {{/each}}
        {{/each}}
    </ul>
</script>

<script id="graph-sidebar-node-template" type="text/x-handlebars-template">
    <div id="graph-sidebar-icon" class="{{cssicon}}"></div>
    <div id="graph-sidebar-value-actions" class="pull-right">
        {{#if visible}}
            <a class="graph-sidebar-remove-node" data-node="{{id}}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Remove from Graph"><i class="fa fa-remove"></i></a>
        {{else}}
            <a class="graph-sidebar-display-node" data-node="{{id}}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add To Graph"><i class="flaticon-network38"></i></a>
        {{/if}}
    </div>
    <div id="graph-sidebar-value">{{label}}</div>

    <ul id="graph-sidebar-tabs" class="nav nav-pills nav-justified">
      <li><a data-toggle="pill" href="#graph-sidebar-info">Info</a></li>
      <li class="active"><a data-toggle="pill" href="#graph-sidebar-links">Links</a></li>
      <li><a data-toggle="pill" href="#graph-sidebar-analytics">Analytics</a></li>
    </ul>

    <div id="graph-sidebar-content" class="tab-content" data-id='{{id}}'>
        <div id="graph-sidebar-info" class="tab-pane">
            <h1>Tags</h1>
            <div class="graph-sidebar-tags">
                {{#each tags}}
                    <span class="yeti-tag label label-default">{{name}}</span>
                {{else}}
                    No tags to display.
                {{/each}}
            </div>
            <h1>Contexts</h1>
            <div class="graph-sidebar-contexts">
                {{#each context}}
                    <h4 class="yeti-toggle" data-target="{{source}}">{{source}}</h4>
                    <div id="{{source}}">
                        {{#each this}}
                            {{#equal @key 'source'}}
                            {{else}}
                                <h5>{{@key}}</h5>
                                {{#equal @key 'raw'}}
                                    <pre><code>{{this}}</pre></code>
                                {{else}}
                                    <span class="small">{{this}}</span>
                                {{/equal}}
                            {{/equal}}
                        {{/each}}
                    </div>
                {{else}}
                    No context to display.
                {{/each}}
            </div>
        </div>

        <div id="graph-sidebar-links" class="tab-pane active">
            <div id="graph-sidebar-links-to-{{id}}">Links loading ...</div>
            <div id="graph-sidebar-links-from-{{id}}"></div>
        </div>

        <div id="graph-sidebar-analytics" class="tab-pane">
            <div id="graph-sidebar-analytics-{{id}}">
                Analytics loading ...
            </div>
        </div>
    </div>
</script>
{% endraw %}
