{% extends "base.html" %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('static', filename='handlebars/dist/handlebars.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='handlebars/helpers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='typeahead.js/dist/typeahead.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vis/dist/vis.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("static", filename="jquery-ui-dist/jquery-ui.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/tagfields.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/forms.js") }}" charset="utf-8"></script>
<link href="{{ url_for('static', filename='vis/dist/vis.min.css') }}" rel="stylesheet" type="text/css" />
<link rel=stylesheet type=text/css href="{{ url_for("static", filename="jquery-ui-dist/jquery-ui.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("static", filename="bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css") }}">
{% endblock %}

{% block main %}
</div>

<div id="graph-sidebar">
    <div id="graph-sidebar-investigation-name" class="hover-block">
        <span class="unsaved">Unnamed Investigation</span>
        <form>
            <input type="text" class="hidden" />
        </form>
        <div class="pull-right">
            <a class="hover-link"><i class="glyphicon glyphicon-edit"></i></a>
        </div>
    </div>
    <div id="graph-sidebar-dynamic">
        <div id="graph-sidebar-icon" class="flaticon-network38"></div>
        <div id="graph-sidebar-content">
            <p>Click on a node to get info.</p>
        </div>
    </div>
</div>
<div id="graph-sidebar-resize"></div>
<div id="graph">
    <div id="graph-toolbar">
        <ul>
            <li><input class="form-control typeahead" type="text" id="graph-quick-add" placeholder="Quick Add" /></li>
            <li class="sep">&nbsp;</li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.ObservableView:new') }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add Observable"><i class="fa fa-plus"></i></a></li>
            <li class="sep">&nbsp;</li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.IndicatorView:new_subclass', subclass='regex') }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add Regex Indicator"><i class="flaticon-magnifying-glass40"></i></a></li>
            <li class="sep">&nbsp;</li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.EntityView:new_subclass', subclass='malware') }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add Malware"><i class="flaticon-bug24"></i></a></li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.EntityView:new_subclass', subclass='actor') }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add Actor"><i class="flaticon-malware"></i></a></li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.EntityView:new_subclass', subclass='ttp') }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add TTP"><i class="flaticon-maths5"></i></a></li>
            <li><a class="graph-add-node" href="{{ url_for('frontend.EntityView:new_subclass', subclass='company') }}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add Company"><i class="flaticon-building259"></i></a></li>
            <li class="sep">&nbsp;</li>
            <li><a id="graph-add-link" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add Link"><i class="fa fa-expand"></i></a></li>
            <li class="sep">&nbsp;</li>
            <li><a id="graph-hierarchical" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Cycle through layouts"><i class="fa fa-sitemap"></i></a></li>
        </ul>
    </div>
    <div id="graph-network"></div>
</div>

<div class="modal fade" id="graph-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <form>
          <div class="modal-body">
          </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="graph-mobal-submit">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include "investigation/graph_templates.html" %}
{% include "actions_templates.html" %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/actions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/graph.js') }}"></script>

<script type="text/javascript">
    $(function() {
        var investigation = JSON.parse({{investigation|tojson}})
        investigation = new Investigation(investigation);
    });
</script>

<div>
{% endblock %}
