{% raw %}

<script id="graph-quick-add-result" type="text/x-handlebars-template">
    <div class="graph-quick-add-result">
        <i class="{{cssicon}}"></i> {{label}}
        <div class="graph-quick-add-result-tags">
            {{#each tags}}
                <span class="yeti-tag label label-default">{{name}}</span>
            {{/each}}
        </div>
    </div>
</script>

<script id="graph-quick-add-empty" type="text/x-handlebars-template">
    <div class="graph-quick-add-result">
        No result found.
    </div>
</script>

<script id="graph-sidebar-analytics-group-template" type="text/x-handlebars-template">
    <div>
        {{#each group}}
            <div class="graph-sidebar-analytics" id="graph-sidebar-analytics-{{id}}">
                {{name}}
                <div class="graph-sidebar-analytics-actions graph-sidebar-links">
                    <a rel="popover" data-popover-content="#graph-sidebar-analytics-help-{{id}}"><i class="fa fa-question-circle"></i></a>
                    <div id="graph-sidebar-analytics-help-{{id}}" class="hide">
                        {{description}}
                    </div>

                    <a data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Run" class="graph-sidebar-run-analytics" data-id="{{id}}">
                        <i class="fa fa-spinner spinner"></i>
                        <i class="glyphicon glyphicon-play hide"></i>
                        <i class="glyphicon glyphicon-refresh hide"></i>
                    </a>
                </div>

                <div class="analytics-results" id="analytics-{{id}}-{{../nodeId}}"></div>
            </div>
        {{/each}}
    </div>
</script>

<script id="graph-sidebar-analytics-template" type="text/x-handlebars-template">
    {{> analyticsGroup group=(lookup groups "") nodeId=nodeId}}
    {{#each groups}}
        {{#equal @key ''}}
        {{else}}
            <h4 class="graph-sidebar-analytics-group">{{@key}}</h4>
            {{> analyticsGroup group=this nodeId=../nodeId}}
        {{/equal}}
    {{else}}
        No analytics to display.
    {{/each}}
</script>

<script id="graph-sidebar-analytics-results-template" type="text/x-handlebars-template">
    {{#with results}}
        {{> links}}
        {{#if error}}
            <div class="graph-sidebar-analytics-error">{{error}}</div>
        {{/if}}
        {{#if raw}}
            <a class="graph-analytics-results-links" role="button" data-toggle="collapse" href="#graph-sidebar-analytics-results-{{_id}}">Display raw results</a>
            <div class="collapse graph-sidebar-analytics-raw" id="graph-sidebar-analytics-results-{{_id}}">
                <pre><code>{{raw}}</code></pre>
            </div>
        {{/if}}
    {{/with}}
</script>

<script id="graph-sidebar-links-template" type="text/x-handlebars-template">
    {{#isNotEmpty links}}
    <ul class="graph-sidebar-links">
        {{#each links}}
            {{#equal @key 'null'}}
                <li class="graph-sidebar-link-description">No description</li>
            {{else}}
                {{#equal @key 'undefined'}}
                    <li class="graph-sidebar-link-description">No description</li>
                {{else}}
                    <li class="graph-sidebar-link-description">{{@key}}{{../suffix}}</li>
                {{/equal}}
            {{/equal}}
            {{#each this}}
                <li class="{{#unless @last}}graph-sidebar-border-bottom{{/unless}} {{#if visible}}graph-sidebar-visible-link{{/if}}">
                    <div class="graph-sidebar-link-value"><i class="{{cssicon}}"></i> {{value}} {{#isInterestingNode this}}<span class="badge" rel="popover" data-popover-content="#graph-sidebar-links-of-interest-{{id}}">{{dictLength links_of_interest}}</span>{{/isInterestingNode}}</div>
                    <div id="graph-sidebar-links-of-interest-{{id}}" class="hide">
                        <ul class="graph-sidebar-history">
                            {{#each links_of_interest}}
                                <li>
                                    <div>
                                        {{value}}
                                        {{#if description}}
                                            ({{description}})
                                        {{/if}}
                                    </div>
                                    <div class="graph-sidebar-history-sources">
                                        {{#if active}}
                                            active
                                        {{else}}
                                            {{date first_seen}} → {{date last_seen}}
                                        {{/if}}
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="graph-sidebar-tags">
                        {{#each tags}}
                            <span class="yeti-tag label label-default label-primary ">{{name}}</span>
                        {{/each}}
                    </div>
                    <div class="graph-sidebar-link-label">
                        {{#if active}}
                            active
                        {{else}}
                            {{date first_seen}} → {{date last_seen}}
                        {{/if}}
                        <div class="graph-sidebar-link-actions">
                            {{#hasMoreHistory this}}
                                <a class="graph-sidebar-display-link" rel="popover" data-popover-content="#graph-sidebar-history-{{id}}"><i class="glyphicon glyphicon-time"></i></a>
                                <div id="graph-sidebar-history-{{id}}" class="hide">
                                    <ul class="graph-sidebar-history">
                                        {{#each history}}
                                            <li>
                                                <div>
                                                    {{date first_seen}} → {{date last_seen}}
                                                    {{#if description}}
                                                        ({{description}})
                                                    {{/if}}
                                                </div>
                                                <div class="graph-sidebar-history-sources">Sources: {{sources}}</div>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/hasMoreHistory}}
                            {{#unless visible}}
                                <a class="graph-sidebar-display-link" data-link="{{id}}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add To Graph"><i class="flaticon-network38"></i></a>
                            {{/unless}}
                            <a class="graph-sidebar-view-node" data-node="{{nodeId}}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="See Node Info"><i class="glyphicon glyphicon-list"></i></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            {{/each}}
        {{/each}}
    </ul>
    {{/isNotEmpty}}
</script>

<script id="graph-sidebar-tags" type="text/x-handlebars-template">
    {{#each tags}}
        <span class="yeti-tag label label-default">{{name}}</span>
    {{/each}}
</script>

<script id="graph-sidebar-node-template" type="text/x-handlebars-template">
    <div id="graph-sidebar-icon" class="{{cssicon}}"></div>
    <div id="graph-sidebar-value-actions" class="pull-right">
        {{#if visible}}
            <a class="graph-sidebar-remove-node" data-node="{{id}}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Remove from Graph"><i class="fa fa-remove"></i></a>
        {{else}}
            <a class="graph-sidebar-display-node" data-node="{{id}}" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":500, "hide":0}' title="Add To Graph"><i class="flaticon-network38"></i></a>
        {{/if}}
    </div>
    <div id="graph-sidebar-value">{{label}}</div>

    <div id="graph-sidebar-taglist-{{id}}" class="graph-sidebar-taglist text-center">{{> tags}}</div>

    <ul id="graph-sidebar-tabs" class="nav nav-pills nav-justified">
      <li><a data-toggle="pill" href="#graph-sidebar-info">Info</a></li>
      <li class="active"><a data-toggle="pill" href="#graph-sidebar-links">Links</a></li>
      <li><a data-toggle="pill" href="#graph-sidebar-actions">Actions</a></li>
    </ul>

    <div id="graph-sidebar-content" class="tab-content" data-id='{{id}}'>
        <div id="graph-sidebar-info" class="tab-pane">
            <h1>Contexts</h1>
            <div class="graph-sidebar-contexts">
                {{#each context}}
                    <h4 class="yeti-toggle" data-target="{{source}}">{{source}}</h4>
                    <div id="{{source}}">
                        {{#each this}}
                            {{#equal @key 'source'}}
                            {{else}}
                                <h5>{{@key}}</h5>
                                {{#equal @key 'raw'}}
                                    <pre><code>{{this}}</pre></code>
                                {{else}}
                                    <span class="small">{{this}}</span>
                                {{/equal}}
                            {{/equal}}
                        {{/each}}
                    </div>
                {{else}}
                    No context to display.
                {{/each}}
            </div>
        </div>

        <div id="graph-sidebar-links" class="tab-pane active">
            <div id="graph-sidebar-links-to-{{id}}">Links loading ...</div>
            <div id="graph-sidebar-links-from-{{id}}"></div>
        </div>

        <div id="graph-sidebar-actions" class="tab-pane">

            <div class="panel-group graph-panels" id="accordion">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#selection-analytics">
                      Analytics
                    </a>
                  </h4>
                </div>
                <div id="selection-analytics" class="panel-collapse collapse in" role="tabpanel">
                  <div class="panel-body">
                      <div id="graph-sidebar-analytics-{{id}}">
                          Analytics loading ...
                      </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
</script>

<script id="graph-sidebar-no-selection" type="text/x-handlebars-template">
    <div id="graph-sidebar-icon" class="flaticon-network38"></div>
    <div id="graph-sidebar-content">
        <p>Click on a node to get info, or <a href="#" id="graph-select-all">select all nodes</a>.</p>
    </div>
</script>

<script id="graph-sidebar-nodes-template" type="text/x-handlebars-template">
    <div>
        {{#each this}}
            <div class="graph-sidebar-selected-node graph-sidebar-tags">
                <i class="{{cssicon}}"></i> {{label}}
                <span id="graph-sidebar-taglist-{{id}}">{{> tags}}</span>
            </div>
        {{/each}}
    </div>

    <div id="graph-sidebar-actions" class="tab-pane">
        <div class="panel-group graph-panels" id="accordion">
        </div>
    </div>
</script>
{% endraw %}
