{% extends "base.html" %}

{% block title %}
Investigations - Import
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li>Investigations</li>
    <li class="active">Import</li>
</ol>
{% endblock %}

{% block main %}
    <div class="row" id="import_view">
        <div class="col-md-7 pdfviewer">
            <iframe src="{{ url_for('frontend.static', filename='pdf/web/viewer.html') }}">
            </iframe>
        </div>
        <!-- <div class="col-md-5">
            {% for match in observables %}
                <div>{{match}} ({{observables[match].value}})</div>
            {% endfor %}
        </div> -->
    </div>
{% endblock %}
