{% extends "base.html" %}

{% block title %}
Investigations - Import
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='handlebars/handlebars.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='handlebars/helpers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='visjs/vis.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="bootstrap-tokenfield/js/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="jquery-ui/js/jquery-ui.min.js") }}" charset="utf-8"></script>
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="jquery-ui/css/jquery-ui.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/bootstrap-tokenfield.min.css") }}">
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li>Investigations</li>
    <li class="active">Import</li>
</ol>
{% endblock %}

{% block main %}
    <div class="row" id="import_view" data-investigation-url="{{url_for('frontend.InvestigationView:get', id=investigation.id)}}">
        <div class="col-md-7 pdfviewer">
            <iframe id="pdfviewer" src="{{ url_for('frontend.static', filename='pdf/web/viewer.html', file=url_for('api.Files:get', id=investigation.import_document.id)) }}">
            </iframe>
        </div>
        <div class="col-md-5" id="import_observables">
            <div id="import-nodes-lists">
            </div>
            <button id="import_send" data-url="{{ url_for("api.Investigation:bulk_add", id=investigation.id) }}" class="btn btn-primary">Import</button>
        </div>
    </div>

    {% raw %}
    <script id="import-type-template" type="text/x-handlebars-template">
        <div class="import-type">
            <h4>{{type}}</h4>

            <ul id="import-nodes-{{type}}">
            </ul>
        </div>
    </script>

    <script id="import-node-template" type="text/x-handlebars-template">
        <li class="import-node" id="import-node-{{id}}" data-id="{{id}}">
            <span class="hide match">{{match}}</span>
            <div class="pull-right">
                <a href="#"><i class="glyphicon glyphicon-edit import-node-edit"></i></a>
                <a href="#"><i class="glyphicon glyphicon-remove import-node-remove"></i></a>
            </div>
            <div class="import-node-value">{{value}}</div>
            <input class="tokenfield" type="text" value="{{join tags}}" placeholder="+" />
        </li>
    </script>

    <script id="import-node-edit" type="text/x-handlebars-template">
        <li data-id="{{id}}">
            <form class="import-node-form">
                <input id="import-node-edit-{{id}}" type="text" class="form-control" value="{{value}}" />
            </form>
        </li>
    </script>
    {% endraw %}

    <script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/import.js") }}" charset="utf-8"></script>

    <script type="text/javascript">
        var observables = JSON.parse({{observables|tojson}});
        var importObject = new Import();

        Object.keys(observables).forEach(function (type) {
            importObject.addNodes(this[type]);
        }, observables);
    </script>
{% endblock %}
