{% extends "base.html" %}
{% import "macros/filterlist.html" as filterlist %}

{% block title %}
Investigations
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li class="active">Investigations</li>
</ol>
{% endblock %}

{% block main %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#saved" aria-controls="saved" role="tab" data-toggle="tab">Saved Investigations</a></li>
  <li role="presentation"><a href="#unnamed" aria-controls="unnamed" role="tab" data-toggle="tab">Unnamed</a></li>
</ul>

<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="saved">
      {{ filterlist.sidebar_filter(url_for('api.InvestigationSearch:post'), "saved_investigations", name__exists=True, order_by="-updated") }}
  </div>

  <div role="tabpanel" class="tab-pane" id="unnamed">
      {{ filterlist.sidebar_filter(url_for('api.InvestigationSearch:post'), "unnamed_investigations", name__exists=False, order_by="-updated") }}
  </div>

</div>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/crud.js') }}" charset="utf-8"></script>
{%endblock%}
