{% extends "base.html" %}
{% import "macros/generic.html" as macros %}
{% import "macros/filterlist.html" as filterlist %}
{% import "macros/indicators.html" as indicators %}
{% import "macros/malware.html" as malware %}
{% import "macros/actors.html" as actors %}
{% import "macros/ttps.html" as ttps %}
{% import "macros/observables.html" as observables %}

{% block title %}
{{obj.name}}
{% endblock %}

{% block main %}
{% set investigation = obj %}
<div class="row">
<!-- start first column -->
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-12">
        <h4 class="panel-title"></h4>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                {{investigation.name}}
                <a href="{{url_for('frontend.InvestigationView:delete', id=investigation.id)}}" class="btn btn-danger btn-xs pull-right object-delete" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
                <a href="{{url_for('frontend.InvestigationView:graph', id=investigation.id)}}" class="btn btn-default btn-xs pull-right"><i class="flaticon-network38"></i> Go To Graph</a>
                {% if investigation.import_text %}
                    <a id="show_import" href="#" class="btn btn-default btn-xs pull-right"><i class="glyphicon glyphicon-paperclip"></i> See Import Source</a>
                    <a id="show_description" href="#" class="hide btn btn-default btn-xs pull-right"><i class="glyphicon glyphicon-align-left"></i> See Description</a>
                {% endif %}
            </h3>
          </div>
          <div id="investigation_description" class="panel-body markdown-text">{% if investigation.description %}{{investigation.description}}{%else%}No description provided{%endif%}</div>
          {% if investigation.import_text %}
              <div id="investigation_source" class="hide">
                  {% if investigation.import_document and investigation.import_document.content_type == "application/pdf" %}
                  <div class="pdfviewer">
                      <iframe id="pdfviewer" src="{{ url_for('static', filename='pdfjs-dist-viewer-min/build/minified/web/viewer.html', file=url_for('api.AttachedFiles:get', id=investigation.import_document.id)) }}">
                      </iframe>
                  </div>
                  {% else %}
                      <div class="panel-body markdown-text">{{investigation.import_text}}</div>
                  {% endif %}
              </div>
           {% endif %}
        </div>

      </div>
    </div>

  </div>
<!-- end first column -->

  <div class="col-md-3">

    <div class="panel panel-primary yeti-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Info</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed main-table">
          {% for key, value in investigation.info().items() %}
          {% if key not in ["_id", "links", "nodes", "events", "name", "import_document", "import_text"] %}
            <tr><th>{{key}}</th><td>{{macros.display_yeti(investigation, key)}}</td></tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

  </div> <!-- end second column -->

</div><!-- end row -->

<div class="row">
  <div class="col-md-12">

    {% set link_write = current_user.has_permission("link", "write") %}
    {% set indicator_write = current_user.has_permission("indicator", "write") %}
    {% set indicator_read = current_user.has_permission("indicator", "read") %}
    {% set entity_write = current_user.has_permission("entity", "write") %}
    {% set entity_read = current_user.has_permission("entity", "read") %}
    {% set observable_read = current_user.has_permission("observable", "read") %}


    <ul class="nav nav-tabs" role="tablist">
      {% if indicator_read %}
      <li role="presentation"><a href="#indicators" aria-controls="indicators" role="tab" data-toggle="tab">Indicators</a></li>
      {%endif%}
      {% if observable_read %}
      <li role="presentation" class="active"><a href="#observables" aria-controls="observables" role="tab" data-toggle="tab">Observables</a></li>
      {%endif%}
      {% if entity_read %}
      <li role="presentation"><a href="#ttp" aria-controls="ttp" role="tab" data-toggle="tab">TTP</a></li>
      <li role="presentation"><a href="#malware" aria-controls="malware" role="tab" data-toggle="tab">Malware</a></li>
      <li role="presentation"><a href="#actors" aria-controls="actors" role="tab" data-toggle="tab">Actors</a></li>
      <li role="presentation"><a href="#companies" aria-controls="companies" role="tab" data-toggle="tab">Companies</a></li>
      {%endif%}
    </ul>

    <div class="tab-content">

        {% if indicator_read %}
        <div role="tabpanel" class="tab-pane" id="indicators">
          <div class="row">
            <div class="col-md-12">
                {% with nav_style="nav-pills", data=investigation.nodes|selectattr("_cls", "startswith", "Indicator") %}
                {% include "indicator_api.html" %}
                {% endwith %}
            </div>
          </div>
        </div>
        {%endif%}

        {% if observable_read %}
        <div role="tabpanel" class="tab-pane active" id="observables">
          <div class="row">
            <div class="col-md-12">
                {% with data=investigation.nodes|selectattr("_cls", "startswith", "Observable") %}
                {% include "observable_api.html" %}
                {% endwith %}
            </div>
          </div>
        </div>
        {%endif%}

        {% if entity_read %}
        <div role="tabpanel" class="tab-pane" id="ttp">
          <div class="row">
            <div class="col-md-12">
                {% with data=investigation.nodes|selectattr("_cls", "equalto", "Entity.TTP") %}
                {% include "entity_api.html" %}
                {% endwith %}
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="malware">
          <div class="row">
            <div class="col-md-12">
                {% with data=investigation.nodes|selectattr("_cls", "equalto", "Entity.Malware") %}
                {% include "entity_api.html" %}
                {% endwith %}
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="actors">
          <div class="row">
            <div class="col-md-12">
                {% with data=investigation.nodes|selectattr("_cls", "equalto", "Entity.Actor") %}
                {% include "entity_api.html" %}
                {% endwith %}
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="companies">
          <div class="row">
            <div class="col-md-12">
                {% with data=investigation.nodes|selectattr("_cls", "equalto", "Entity.Company") %}
                {% include "entity_api.html" %}
                {% endwith %}
            </div>
          </div>
        </div>
        {%endif%}

    </div>
  </div>
</div>


{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/crud.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/import.js') }}" charset="utf-8"></script>
{%endblock%}
