{% extends "base.html" %}
{% import "macros/filterlist.html" as filterlist %}

{% block title %}
Groups
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li>YETI</li>
  <li>Admin</li>
  <li class="active">Group administration</li>
</ol>
{% endblock %}

{% block main %}
<div class="col-md-9">
  <div role="tabpanel" class="tab-pane active" id="admin" data-url="{{ url_for('api.GroupAdminSearch:post')}}"></div>
</div>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/tagfields.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/forms.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/crud.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("static", filename="bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/selection.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("static", filename="jquery-ui-dist/jquery-ui.min.js") }}" charset="utf-8"></script>
{%endblock%}


{% block sidebar %}
<div class="col-md-3">
<form data-target="admin" data-url="{{ url_for("api.GroupAdminSearch:post")}}" class="yeti-crud">
  <input class="extra-param" type="hidden" name="regex" value="true">
  <input class="extra-param" type="hidden" name="ignorecase" value="true">
  <div class="input-group">
      <input class="form-control input-sm crud-filter" data-default-value="groupname" placeholder="Search query + &#9166;" value="{{request.args.get("query", "")}}">
    <span class="input-group-btn">
      <button class="btn btn-primary btn-sm crud-search" type="button"><i style="display:none;" class="fa fa-refresh fa-spin" id="spinner"></i><span id="go">Go</span></button>
    </span>
  </div>

  <ul class="pagination">
    <li><a class="crud-paginator" data-direction="-1" aria-label="Previous">Prev</a></li>
    <li><a class="crud-pagination" data-page="1">Page <span class="crud-pagenumber">1</span></a></li>
    <li><a class="crud-paginator" data-direction="1" aria-label="Next">Next</a></li>
  </ul>

</form>

{% include 'newgroup.html' ignore missing %}

</div>
{% endblock %}
