{% extends "base.html" %}
{% import "macros/generic.html" as macros %}

{% if user != current_user %}
{% set admin = current_user.has_role('admin') %}
{% endif %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
    <li>Group</li>
    <li class="active">Settings for group {{group.groupname}}</li>
</ol>

{% endblock %}


{% block main %}
<div class="cold-md-12">

	<div class="row" id="admin">
		<div class="col-md-6">
			<div class="panel panel-primary profile-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Group profile information</h3>
				</div>
				<table class='table profile'>
					<tr><th>Group members</th><th>Add to group admins</th><th>Delete from group</th></tr>
					{% for member in group.members %}
					<tr>
						<th><a href="{{ url_for('frontend.UsersView:profile', id=member['id'] )}}">{{member.username}}</a></th>
						<th><span data-url="{{ url_for('frontend.GroupAdminView:usertoadmin', uid=member['id'], gid=group['id'])}}" class="admin-toadmin glyphicon glyphicon-ok"></span><th>
						<th><span data-url="{{ url_for('frontend.GroupAdminView:delfromgroup', uid=member['id'], gid=group['id'])}}" class="admin-remove glyphicon glyphicon-trash"></span><th>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-primary profile-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Group admins</h3>
				</div>
				<table class='table profile'>
					<tr><th>Group admin(s)</th><th>Delete from admins</th></tr>
					{% for member in group.admins %}
					<tr>
						<th><a href="{{ url_for('frontend.UsersView:profile', id=member['id'] )}}">{{member.username}}</a></th>
						<th><span data-url="{{ url_for('frontend.GroupAdminView:deladmin', uid=member['id'], gid=group['id'])}}" class="group-fromadmin glyphicon glyphicon-trash"></span><th>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-primary profile-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Add user to group</h3>
				</div>
				<table class='table profile'>
					<tr>
					<th width="100px"></th><td>
					<form action={{ url_for("frontend.GroupAdminView:usertogroup") }} method="post">
						<select name="uid" style="width:150px;">
						{% for user in users %}
							   <option value={{user["id"]}}>{{user["username"]}}</option>
						{% endfor %}
						</select>
						<input type="hidden" id="gid" name="gid" value={{group.id}}>
						<button type="submit" class="btn btn-default btn-sm">Add</button>
					</form>
				</td></tr>
				</table>
			</div>
		</div>

	</div>

	{% include 'auth_profile.html' ignore missing %}

</div>

{% endblock %}
