{% import "macros/generic.html" as macros %}
{% macro display_table(n, obj) -%}

<table class="table table-condensed">
  <tr><th>Name</th><th>Description</th><th>Killchain</th></tr>
  {% for type, entry in n.items() if "TTP" in type %}
    {% for link, node in entry %}
    <tr>
      <td><a href="{{ url_for("frontend.EntityView:get", id=node.id)}}">{{node.name}}</a></td>
      <td>{{ node.description }}</td>
      <td>{{ node.killchain }}</td>
    </tr>
    {% endfor %}
  {%endfor%}
</table>
<a href="{{ url_for('frontend.EntityView:new_subclass', subclass="ttp", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new TTP</a>

{%- endmacro %}
