{% extends "base.html" %}
{% import "macros/filterlist.html" as filterlist %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li class="active">Entities</li>
</ol>
{% endblock %}

{% block main %}
<ul class="nav nav-tabs" role="tablist">
	{% for t in g.entities %}
	<li role="presentation" {%if loop.first%}class="active"{%endif%}><a href="#{{t.__name__.lower()}}_tab" aria-controls="{{t.__name__.lower()}}_tab" role="tab" data-toggle="tab">{{t.__name__}}</a></li>
	{% endfor %}

</ul>

<div class="tab-content">

	{% for t in g.entities %}
	<div role="tabpanel" class="tab-pane {%if loop.first%}active{%endif%}" id="{{t.__name__.lower()}}_tab">
		{{ filterlist.sidebar_filter(url_for('api.EntitySearch:post'), t.__name__.lower(), _cls='Entity.'+t.__name__) }}
	</div>
	{% endfor %}

</div>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/crud.js') }}" charset="utf-8"></script>
{%endblock%}
