{% extends "base.html" %}
{% import "macros/filterlist.html" as filterlist %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li class="active">Entities</li>
</ol>
{% endblock %}

{% block main %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#malware_tab" aria-controls="malware_tab" role="tab" data-toggle="tab">Malware</a></li>
  <li role="presentation"><a href="#ttp_tab" aria-controls="ttp_tab" role="tab" data-toggle="tab">TTPs</a></li>
  <li role="presentation"><a href="#actor_tab" aria-controls="actor_tab" role="tab" data-toggle="tab">Actors</a></li>
  <li role="presentation"><a href="#company_tab" aria-controls="company_tab" role="tab" data-toggle="tab">Companies</a></li>
</ul>

<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="malware_tab"> <!-- malware tab -->
		{{ filterlist.filtered_list(url_for('api.EntitySearch:post'), "malware", _cls='Entity.Malware') }}
	</div>

	<div role="tabpanel" class="tab-pane" id="ttp_tab">
		{{ filterlist.filtered_list(url_for('api.EntitySearch:post'), "ttp", _cls='Entity.TTP') }}
	</div>

	<div role="tabpanel" class="tab-pane" id="actor_tab">
		{{ filterlist.filtered_list(url_for('api.EntitySearch:post'), "actor", _cls='Entity.Actor') }}
	</div>

	<div role="tabpanel" class="tab-pane" id="company_tab">
		{{ filterlist.filtered_list(url_for('api.EntitySearch:post'), "company", _cls='Entity.Company') }}
	</div>

</div>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/crud.js') }}" charset="utf-8"></script>
{%endblock%}
