{% extends "base.html" %}
{% import "macros/generic.html" as macros %}
{% import "macros/filterlist.html" as filterlist %}
{% import "macros/indicators.html" as indicators %}
{% import "macros/malware.html" as malware %}
{% import "macros/actors.html" as actors %}
{% import "macros/ttps.html" as ttps %}
{% import "macros/observables.html" as observables %}

{% block title %}
{{obj.name}}
{% endblock %}

{% block main %}
{% set entity = obj %}
<div class="row">
<!-- start first column -->
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-12">
        <h4 class="panel-title"></h4>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" id="yeti-node-name" data-id="{{entity.id}}" data-class="entity">
                {{entity.name}} <span class="small">{{entity.type}}</span>
                <a href="{{url_for('frontend.EntitiesView:delete', id=entity.id)}}" class="btn btn-danger btn-xs pull-right object-delete" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
                <a href="{{url_for('frontend.InvestigationsView:graph_node', id=entity.id, klass='entity')}}" class="btn btn-default btn-xs pull-right"><i class="flaticon-network38"></i> New Investigation</a>
                <a href="{{url_for('frontend.EntitiesView:edit', id=entity.id)}}" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
            </h3>
          </div>
          <div class="panel-body">
            {% if entity.description %}
            {{entity.description|markdown}}
            {%else%}
            <em>No description provided</em>
            {%endif%}
          </div>
        </div>

      </div>
    </div>

  </div>
<!-- end first column -->

  <div class="col-md-3">

    <div class="panel panel-primary yeti-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Info</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed main-table">
          {% for key, value in entity.info().items() %}
          {% if key not in ["context", "value", "last_analyses"] %}
            <tr><th>{{key}}</th><td>{{macros.display_yeti(entity, key)}}</td></tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

  </div> <!-- end second column -->

</div><!-- end row -->

<div class="row">
  <div class="col-md-12">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#indicators" aria-controls="indicators" role="tab" data-toggle="tab">Indicators</a></li>
      <li role="presentation"><a href="#ttp" aria-controls="ttp" role="tab" data-toggle="tab">TTP</a></li>
      <li role="presentation"><a href="#malware" aria-controls="malware" role="tab" data-toggle="tab">Malware</a></li>
      <li role="presentation"><a href="#actors" aria-controls="actors" role="tab" data-toggle="tab">Actors</a></li>
      <li role="presentation"><a href="#observables" aria-controls="observables" role="tab" data-toggle="tab">Observables</a></li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="indicators"> <!-- indicators tab -->
          <div class="row">
            <div class="col-md-12">
              {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="entity", node_id=entity.id, type_filter="indicator"), "indicator-pivot") }}
              <a href="{{ url_for('frontend.IndicatorsView:new_subclass', subclass="regex", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new Regex</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="ttp"> <!-- TTP tab -->
          <div class="row">
            <div class="col-md-12">
              {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="entity", node_id=entity.id, type_filter="ttp"), "ttp-pivot") }}
              <a href="{{ url_for('frontend.EntitiesView:new_subclass', subclass="ttp", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new TTP</a>

            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="malware"> <!-- malware tab -->
          <div class="row">
            <div class="col-md-12">
              {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="entity", node_id=entity.id, type_filter="malware"), "malware-pivot") }}
              <a href="{{ url_for('frontend.EntitiesView:new_subclass', subclass="malware", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new Malware</a>

            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="actors"> <!-- actors tab -->
          <div class="row">
            <div class="col-md-12">
              {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="entity", node_id=entity.id, type_filter="actor"), "actor-pivot") }}
              <a href="{{ url_for('frontend.EntitiesView:new_subclass', subclass="actor", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new Actor</a>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="observables"> <!-- Observables tab -->
          <div class="row">
            <div class="col-md-12">
              {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="entity", node_id=entity.id, type_filter="observable"), "observable-pivot", default_key="value") }}
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/crud.js') }}" charset="utf-8"></script>
{%endblock%}
