{% extends "base.html" %}
{% block main %}
<div class='span9'>
	<h2>My YARA rules</h2>

	<ul id='settingsTabs' class='nav nav-tabs'>
		<!-- <li class='active'><a href='#userinfo' data-toggle='tab'>User info</a></li> -->
		<li class='active'><a href='#yara' data-toggle='tab'><i class="icon-book"></i>Yara rules</a></li>
		
		<!-- <li><a href='#ip' data-toggle='tab'>IPs</a></li> -->
	</ul>

	<div id='settingsTabsContent' class='tab-content'>

		<div id='yara' class='tab-pane active'>
			<div class="alert alert-block alert-warning">
			  <h4>Coming soon.</h4>
			</div>
		</div>


	</div>


</div>
{% endblock %}

{% block sidebar %}
<div class='span3'>

</div>
{% endblock %}