circle.hostname {
	fill: #aec7e8;
	stroke: #1f77b4;
}

circle.as {
	fill: #ffbb78;
	stroke: #ff7f0e;
}

circle.malware {
	fill: #d62728;
	stroke: #951b1c;
}


circle.ip {
	fill: #98df8a;
	stroke: #2ca02c ;
}

circle.url {
	fill: #dbdb8d;
	stroke: #bcbd22;
}

.brush .extent {
  stroke-opacity: 0.5;
  fill-opacity: .05;
  stroke: #03a2ff;
  stroke-width:2px;
  fill: #069bf1;
  shape-rendering: crispEdges;
}

.selected circle {
  stroke: #df1801;
  stroke-width:3px;
  cursor: move;
}

.hotkeys {
	margin-left:30px;
}