
.node text {
  pointer-events: none;
  font: 10px sans-serif;
  
}

.path-text {
  pointer-events: none;
  font: 10px sans-serif;
  opacity: 0.5;
}

.marker {
	z-index: 1000;
	display:none;
}

.dim {
	opacity: 0.15;
}

.link {
	stroke: #000;
	stroke-width: 1.5px;
}

.node {
	stroke-width: 1.5px;
}

.node text, .path-text {
	pointer-events: none;
	font: 10px sans-serif;
	color:black;
}

.graph {
	width:auto;
	height:550px;
	border:1px solid #DDD;
}

circle.hostname {
	fill: #aec7e8;
	stroke: #1f77b4;
}

circle.as {
	fill: #ffbb78;
	stroke: #ff7f0e;
}

circle.evil {
	fill: #d62728;
	stroke: #951b1c;
}


circle.ip {
	fill: #98df8a;
	stroke: #2ca02c ;
}

circle.url {
	fill: #dbdb8d;
	stroke: #bcbd22;
}

circle:hover {
	stroke: black!important;
	stroke-width: 3px;
	cursor: pointer;
}

.brush .extent {
  stroke-opacity: 0.5;
  fill-opacity: .05;
  stroke: #03a2ff;
  stroke-width:2px;
  fill: #069bf1;
  shape-rendering: crispEdges;
}

.selected circle {
  stroke: #df1801;
  stroke-width:3px;
  cursor: move;
}

.hotkeys {
	margin-left:-15px;
	float:left;
}
.hotkeys ul {
	margin:0;
}

.hotkeys table {
	margin-left:17px;
	font-size: x-small;
}
.hotkeys li {
	display:inline;
	text-align: center;
	font-size: x-small;
	margin-left:20px;
}












