/* Feeds */

tr.error .error-cause {
	font-weight: bold;
	color:red;
}

tr.success .error-cause {
	font-weight: bold;
	color:green;
}


/* Navbar */

.analytics {
	margin-left:5px;
	margin-right:5px;
}

.interfaces {
	color:#fff;
	background-color: #111;
	font-size: xx-small;
	padding:0 10px;
}

/* HTML */

.container {
	width:95%;
}

.toolbar {
	float:right;
}

.span3 {
	margin-left:20px;
	width:280px;
}

.icon-remove {
	cursor: pointer;
}

.toolbar .tab-content {
	overflow: visible;
}

input[type="file"] {
	height: 30px;
	line-height: 16px;
}

div.data {
	float:right;
	font: 12px "Helvetica", sans-serif;
}

body {
	font: 12px "Helvetica", sans-serif;
}

table th {
	text-align: right;
}

table td {
	text-align: left;
}



