/* sniffer */

#PayloadModal {
	left:10%;
	top:10%;
	margin:0;
	width:80%;
}

#PayloadModal .modal-body pre {
	font-size: small;
	font-family: "Courier New";
	line-height: 12px;
}

.flow-response {
	background-color: #e7ff9f;
}


/* Dataset */

.timestamp {
	width:130px;
}


#loading-spinner {
	display: none;
}


#loading-spinner.show {
	margin:40px auto;
	display:block;
}


/* Feeds */

#feeds tr.disabled > td {
	opacity:0.4;
}

tr.error .error-cause {
	font-weight: bold;
	color:red;
}

tr.success .error-cause {
	font-weight: bold;
	color:green;
}


/* Navbar */

.analytics {
	margin-left:5px;
	margin-right:5px;
}

.interfaces {
	color:#fff;
	background-color: #111;
	font-size: xx-small;
	padding:0 10px;
}

/* HTML */

.container {
	width:95%;
}

.toolbar {
	float:right;
}

.span3 {
	margin-left:20px;
	width:280px;
}

.icon-remove {
	cursor: pointer;
}

.toolbar .tab-content {
	overflow: visible;
}

input[type="file"] {
	height: 30px;
	line-height: 16px;
}

div.data {
	float:right;
	font: 12px "Helvetica", sans-serif;
}

body {
	font: 12px "Helvetica", sans-serif;
}

table th {
	text-align: right;
}

table td {
	text-align: left;
}



