/* link colors  - COMMS */

.link { 
	stroke: #bab8b8;
	transition:stroke 1s;
}

.link.TCP {
	stroke: #8eb0df;
}

.link.UDP {
	stroke: #8eb0df;
}

.link.DNS {
	stroke: #21b429;
}

.link.HTTP {
	stroke: #275bdf;
}

.link.comms {        
	stroke: rgba(255,2,0,0.7);   
	opacity:1;
}


/* link colors - TOPOLOGY */


/*.link.A {
	stroke: #2aea36;
}
.link.NS {
	stroke: #21b429;
}
.link.MX {
	stroke: #219d47;
}
.link.reverse {
	stroke: #21b429;
}
.link.domain {
	stroke: #62b464;
}
.link.CNAME {
	stroke: #82b48c;
}
.link.net_info {
	stroke: grey;
}
.link.host {
	stroke: #71b470;
}
*/



.node text {
  pointer-events: none;
  font: 10px sans-serif;
  
}

.path-text {
  pointer-events: none;
  font: 10px sans-serif;
  opacity: 0.5;
}

.marker {
	z-index: 1000;
	display:none;
}

.dim {
	opacity: 0.15 !important;
}

.link {
	stroke: #bab8b8;
	stroke-width: 1.5px;
	opacity:0.50;
	fill:none;
}

.node {
	stroke-width: 1.5px;
}

.node text, .path-text {
	pointer-events: none;
	font: 10px sans-serif;
	color:black;
}

.graph {
	width:auto;
	height:550px;
	border:1px solid #DDD;
}

circle.hostname {
	fill: #aec7e8;
	stroke: #1f77b4;
}

circle.as {
	fill: #ffbb78;
	stroke: #ff7f0e;
}

circle.evil {
	fill: #d62728;
	stroke: #951b1c;
}


circle.ip {
	fill: #98df8a;
	stroke: #2ca02c ;
}

circle.url {
	fill: #dbdb8d;
	stroke: #bcbd22;
}

circle:hover {
	stroke: black!important;
	stroke-width: 3px;
	cursor: pointer;
	
}

circle {
	transition:stroke 0.2s;
	transition:fill 0.2s;
}

.comms circle {
	stroke: #c70110;
	fill: #ee0011;

}

.brush .extent {
  stroke-opacity: 0.5;
  fill-opacity: .05;
  stroke: #03a2ff;
  stroke-width:2px;
  fill: #069bf1;
  shape-rendering: crispEdges;
}

.selected circle {
  stroke: #df1801;
  stroke-width:3px;
  cursor: move;
}

.hotkeys {
	margin-left:-15px;
	float:left;
}
.hotkeys ul {
	margin:0;
}

.hotkeys table {
	margin-left:17px;
	font-size: x-small;
}
.hotkeys li {
	display:inline;
	text-align: center;
	font-size: x-small;
	margin-left:20px;
}












