/* sniffer */

#PayloadModal .modal-body pre {
	font-size: small;
	font-family: "Courier New";
	line-height: 12px;
}

.flow-addr {
	font-weight: bold;
}

.flow-port {
	font-size: x-small;
	color: #AAA;
	font-weight: 200;
}

.flow-timestamp {
	font-size: x-small;
}

.flow-payload span.glyphicon {
	cursor: pointer;
	margin-left: 5px;
}

.flow-request {
	background-color: #d8d5d6;
}

.flow-response {
	background-color: #e7ff9f;
}

.flow-payload {
	text-align: center;
}

.flow-payload .icon-eye-open {
	cursor: pointer;
}

.flow-payload i {
	margin-left:15px;
}

img.ssl-smiley {
	height:15px;
	width:15px;
	margin-left:15px;
}

#PayloadModal pre {
	border-radius: 0px;

}


/* Flow table */

.http_response_200 {
	background-color: rgba(75,144,216,0.2);
}

.http_response_200:hover {
	background-color: rgba(75,144,216,0.7);
}

.dns_response_OK {
	background-color: rgba(114, 255, 94, 0.2);
}

.dns_response_OK:hover {
	background-color: rgba(114, 255, 94, 0.7);
}



/* Dataset */

a.graphicon {
	margin-right: 5px;
}

.tab-pane {
	margin-top:20px;
}

.timestamp {
	width:130px;
}


#loading-spinner {
	display: none;
}


#loading-spinner.show {
	margin:40px auto;
	display:block;
}


/* Feeds */

#feeds tr.disabled > td {
	opacity:0.4;
}

tr.error .error-cause {
	font-weight: bold;
	color:red;
}

tr.success .error-cause {
	font-weight: bold;
	color:green;
}


/* Navbar */

.analytics {
	margin-left:5px;
	margin-right:5px;
}

.interfaces {
	color:#fff;
	background-color: #111;
	font-size: xx-small;
	padding:0 10px;
}

.navbar-text {
	padding-left:10px;
	padding-right:10px;
}

.navbar {
	font-size:0.9em;
}

/* HTML */

.toolbar {
	float:right;
}

.icon-remove {
	cursor: pointer;
}

.tab-content {
	overflow: auto;
}

input[type="file"] {
	height: 30px;
	line-height: 16px;
}

div.data {
	float:right;
}

/* search */

.center-block {
	text-align: center;
}

.search .searchbar {
	margin: 0 auto;
	margin-bottom: 10px;
}

.search input[type=submit] {
	width:auto;
}

.search .alert {
	margin-bottom:10px;
}

/* main */

.toggle-control {
	cursor: pointer;
}

.toggle-hidden {
	display: none;
}

/* to re-align smaller checkboxes */
input[type=checkbox], input[type=radio] {
	margin: 2px 0 0;
}

@media (min-width: 1200px) {
	.container.main {
		width: 100%;
		margin-top:10px;
	}
	.container {
		width: 95%;
	}
}

p.divider {
	border-top:1px solid #ddd;
}

body .main {
	font-size: 12px;
	margin-bottom:70px;
}

/* footer */

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.footer .text-muted {
	margin: 7px 0;
	font-size: small;
}


