/* sniffer */

#PayloadModal {
	left:10%;
	top:10%;
	margin:0;
	width:80%;
}

#PayloadModal .modal-body pre {
	font-size: small;
	font-family: "Courier New";
	line-height: 12px;
}

.flow-request {
	background-color: #d8d5d6;
}

.flow-response {
	background-color: #e7ff9f;
}

.flow-payload {
	text-align: center;
}

.flow-payload .icon-eye-open {
	cursor: pointer;
}

.flow-payload i {
	margin-left:15px;
}

img.ssl-smiley {
	height:15px;
	width:15px;
	margin-left:15px;
}


/* Flow table */

.http_response_200 {
	background-color: rgba(75,144,216,0.2);	
}

.http_response_200:hover {
	background-color: rgba(75,144,216,0.7);	
}

.dns_response_OK {
	background-color: rgba(114, 255, 94, 0.2);
}

.dns_response_OK:hover {
	background-color: rgba(114, 255, 94, 0.7);
}



/* Dataset */

.timestamp {
	width:130px;
}


#loading-spinner {
	display: none;
}


#loading-spinner.show {
	margin:40px auto;
	display:block;
}


/* Feeds */

#feeds tr.disabled > td {
	opacity:0.4;
}

tr.error .error-cause {
	font-weight: bold;
	color:red;
}

tr.success .error-cause {
	font-weight: bold;
	color:green;
}


/* Navbar */

.analytics {
	margin-left:5px;
	margin-right:5px;
}

.interfaces {
	color:#fff;
	background-color: #111;
	font-size: xx-small;
	padding:0 10px;
}

.navbar-text {
	padding-left:10px;
	padding-right:10px;
}

.navbar {
	font-size:0.9em;
}

/* HTML */

.container {
	width:95%;
}

.toolbar {
	float:right;
}

.span3 {
	margin-left:20px;
	width:280px;
}

.icon-remove {
	cursor: pointer;
}

.toolbar .tab-content {
	overflow: visible;
}

input[type="file"] {
	height: 30px;
	line-height: 16px;
}

div.data {
	float:right;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

body .main {
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

table th {
	text-align: right;
}

table td {
	text-align: left;
}



