<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Malcom 0.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/jquery-ui.css') }}" />
  
    <!-- custom scripts -->
    <script type="text/javascript">
      var url_static_prefix = "{{ url_for('index', _external=True) }}";
      var url_websocket_prefix = url_static_prefix.replace('http','ws');
    </script>
    <script src="{{ url_for('static', filename='d3js/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='custom_css/style.css') }}" rel='stylesheet'>
    <link href="{{ url_for('static', filename='custom_css/d3_graph.css') }}" rel='stylesheet'>
    
    <script type="text/javascript" src="{{ url_for('static', filename='custom_js/data.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='custom_js/misc.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='custom_js/analytics_websockets.js') }}" charset="utf-8"></script>
    <script>
    initAnalyticsWebSocket()
    ws_analytics.onopen = analyticsInterfaceInit
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='bootstrap/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='bootstrap/ico/apple-touch-icon-114-precomposed.png') }}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='bootstrap/ico/apple-touch-icon-72-precomposed.png') }}">
                    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='bootstrap/ico/apple-touch-icon-57-precomposed.png') }}">
                                   <link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap/ico/favicon.png') }}">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Malcom</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li id='dataset-nav'><a href="{{url_for('dataset')}}">Dataset</a></li>
              <li id='feeds-nav'><a href="{{url_for('feeds')}}">Feeds</a></li>
              <li id='sniffer-nav'><a href="{{url_for('sniffer')}}">Sniffer</a></li>
              <li class="divider-vertical"></li>
              
            </ul>
          </div>
          <div class='nav-collapse collapse pull-right'>
            <ul class='nav'>
              <li id='analytics-status-nav'>
                <p class='navbar-text analytics'>Loading status...</p>
              </li>

              <li id='iface-nav'>
                  <div class='interfaces'>
                    <table>
                      {% for i in g.ifaces %}
                        <tr><th>{{i}}</th><td>{{g.ifaces[i]}}</td></tr>
                      {% endfor %}
                    </table>
                    </div>
                </li>
            </ul>
            </div>
          <!--/.nav-collapse -->

        </div>
      </div>
    </div>

    <div class="container main">

      <div class='row'>
          {% block main %}
          {% endblock %}
          {% block sidebar %}
          {% endblock %}
          </div>
          
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>

