{% extends "base.html" %}
{% block main %}
<script type="text/javascript" src="{{ url_for('static', filename='custom_js/d3_functions.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='custom_js/initialize_graph.js') }}" charset="utf-8"></script>
<div class='span9 graph'>
</div>

<script type="text/javascript">

initialize_graph();

d3.json("/graph/{{field}}/{{value}}", function(error, graph) {
    
   for (var i in graph.nodes) {
     nodes.push(graph.nodes[i])
   } 

   for (var i in graph.edges) {
    links.push(graph.edges[i])
   }

   for (var i=0; i < nodes.length; i++) {
                nodes[i].x = Math.random()*width;
                nodes[i].y = Math.random()*height;
            }

    start();

});


</script>
{%endblock%}
{% block sidebar %}
<div class='data span3 toolbar'>
  <h1>Highlight</h1>

  <div class="input-append">
      <input class="span2" id="query" type="text" onkeyup="javascript:highlight($('#query').val())">
      <button class='btn' type='button' onclick="javascript:highlight('clear'); $('#query').val('');">Clear</button>

  </div>
  <span class="help-block">e.g. 'type:ip', 'google.com'</span>

              

  <h1>Info</h1>
  <table class='table' id='node_info'></table>
  <div class='whois'></div>
</div>
{% endblock %}