{% extends "base.html" %}
{% block main %}
<div class='span9'>
	<h1>Loaded feeds</h1>
	<table class='table table-condensed' id='dataset'>
		<tr>
			<th>Feed name</th>
			<th>Running</th>
			<th>Run every</th>
			<th>Last run</th>
			<th>Next run</th>
			<th>Elements fetched</th>
			<th>Status</th>
			<th>Run now</th>
		</tr>
		{% for name in feeds %}
		<tr class='{{ "error" if feeds[name].status != "OK" else "success" }}'>
			<td>{{ feeds[name].name }}</td>
			<td>{{ "Yes" if feeds[name].running else "No" }}</td>
			<td>{{ feeds[name].run_every }}</td>
			<td>{{ feeds[name].last_run.strftime("%Y-%m-%d %H:%M:%S") if feeds[name].last_run else "N/A"}}</td>
			<td>{{ feeds[name].next_run.strftime("%Y-%m-%d %H:%M:%S") if feeds[name].next_run else "N/A"}}</td>
			<td>{{ feeds[name].elements_fetched }}</td>
			<td class='error-cause'>{{ feeds[name].status }}</td>
			<td><a href='{{ url_for("run_feed", feed_name=name)}}'><i class='icon-refresh'></i></a></td>
		</tr>

		{% endfor %}
	</table>	
	<!-- {{feeds['ZeusTrackerBinaries'].__dict__}} -->
</div>



{% endblock %}