{% extends "base.html" %}
{% block main %}
<script type="text/javascript" src='/static/custom_js/initialize_graph.js' charset="utf-8"></script>
<script type="text/javascript" src='/static/custom_js/d3_functions.js' charset="utf-8"></script>

<script type="text/javascript" src='/static/custom_js/sniffer_websockets.js' charset="utf-8"></script>

<div class='span9 graph'> 
</div>


<script type="text/javascript">

 initialize_graph();

// let's add arrows to the whole shennaningans

  svg.append("svg:defs").selectAll("marker")
      .data(["arrow"])
      .enter().append("svg:marker")
        .attr("id", String)
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 15)
        .attr("refY", 0)
        .attr("markerWidth", 6)
        .attr("markerHeight", 6)
        .attr("orient", "auto")
        .append("svg:path")
          .attr("d", "M0,-5L10,0L0,5");


</script>
<script>
initSnifferWebSocket()
ws_sniffer.onopen = snifferInterfaceInit
</script>
{%endblock%}

{% block sidebar %}
<div class='data span3 toolbar'>
  <h1 id='session_name'>{{session.name}}</h1>
  <small>Filter: {{session.filter}}</small>
  <br />
  <button id='startsniff' class='btn btn-primary' type='button' disabled='true' onclick="javascript:startsniff()">Start</button>
  <button id='stopsniff' class='btn btn-primary' type='button' disabled='true' onclick="javascript:stopsniff()">Stop</button>
  <a href="{{url_for('pcap', session_name=session_name)}}">Get .pcap</a>
  <h3>Info</h3>
  <table class='table' id='node_info'></table>
  <div class='whois'></div>
  <h3>Sessions</h3>
  <ul id='sessions'></ul>
</div>
<div class='hotkeys'>
  <ul>
    <li><strong>space</strong>: get node neighbors</li>
    <li><strong>u</strong>: unfix selected</li>
    <li><strong>shift</strong>: multimple selections</li>
    <li><strong>h</strong>: hide nodes</li>
    <li><strong>(shift+)arrows</strong>: move nodes</li>
  </ul>
</div>
{% endblock %}














