{% extends "base.html" %}
{% block main %}
<script type="text/javascript" src="{{ url_for('static', filename='custom_js/sniffer_websockets.js') }}" charset="utf-8"></script>
<script>
initSnifferWebSocket()
ws_sniffer.onopen = snifferInterfaceInit
</script>
{%endblock%}
{% block sidebar %}
<div class='data span3'>
  <h1>New sniffer session</h1>
  <form method='POST' action=''>
    <label for='session_name'>Session name</label>
    <input type="text" placeholder="Session name" name='session_name' id='session_name' >
    <label for='session_name'>BPF</label>
    <input type="text" placeholder="port 21 and not udp" name='filter' id='filter'>
    <br />
    <label class="checkbox"><input type="checkbox" name="startnow" checked='checked'> Start sniffer with new session</label>
    <button type="submit" id='newsniff' onclick='return hasname();' class="btn btn-primary">Create new session</button>
  </form>  

  <h3>Sessions</h3>
  <ul id='sessions'></ul>
</div>
{% endblock %}