{% extends "base.html" %}
{% import "macros/generic.html" as macros %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
  <li><a href="{{url_for('frontend.IndicatorsView:index')}}">Indicators</a></li>
	<li class="active">{% if not obj %}New {{obj_type}}{% else %}Edit{%endif%}</li>
</ol>
{% endblock %}


{% block custom_head %}
<script type="text/javascript" src="{{ url_for("frontend.static", filename="yeti/js/forms.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="bootstrap-tokenfield/js/bootstrap-tokenfield.min.js") }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for("frontend.static", filename="jquery-ui/js/jquery-ui.min.js") }}" charset="utf-8"></script>

<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="jquery-ui/css/jquery-ui.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/tokenfield-typeahead.min.css") }}">
<link rel=stylesheet type=text/css href="{{ url_for("frontend.static", filename="bootstrap-tokenfield/css/bootstrap-tokenfield.min.css") }}">

<style media="screen">
  .tab-pane label {
    display: none;
  }
</style>
{% endblock %}

{% block main %}

<div class="cold-md-12">

  <form action="{{request.path}}" method="POST" class="yeti-form">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>{% if not obj %}New {{obj_type}}{% else %}Editing {{obj.name}}{%endif%}</h1>
			{{ macros.render_generic_errors(form)}}
    </div>

    <div class="col-md-3 col-md-offset-1">
      {% for field in form if field.name not in ['description', 'pattern']%}
        {{ macros.render_field(field) }}
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="Save">
    </div>

    <div class="col-md-7">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
        <li role="presentation"><a href="#pattern" aria-controls="pattern" role="tab" data-toggle="tab">Pattern</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="description"> <!-- Description tab -->
          <br>
          {{ macros.render_field(form.description, rows=12) }}
        </div>
        <div role="tabpanel" class="tab-pane" id="pattern"> <!-- Pattern tab -->
          <br>
          {{ macros.render_field(form.pattern, rows=12)}}
        </div>
      </div>

    </div>


  </div>
  </form>
</div>

{% endblock %}
