{% extends "base.html" %}
{% import "macros/filterlist.html" as filterlist %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li>YETI</li>
	<li class="active">Indicators</li>
</ol>
{% endblock %}

{% block main %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#regex_tab" aria-controls="regex_tab" role="tab" data-toggle="tab">Regex</a></li>
  <li role="presentation"><a href="#yara_tab" aria-controls="yara_tab" role="tab" data-toggle="tab">Yara rules</a></li>
</ul>

<div class="tab-content">

	<div role="tabpanel" class="tab-pane active" id="regex_tab">
		{{ filterlist.sidebar_filter(url_for('api.IndicatorSearch:post'), "regex", _cls='Indicator.Regex') }}
	</div>

	<div role="tabpanel" class="tab-pane" id="yara_tab">
		{{ filterlist.sidebar_filter(url_for('api.IndicatorSearch:post'), "yara", _cls='Indicator.Yara') }}
	</div>

</div>
{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/crud.js') }}" charset="utf-8"></script>
{%endblock%}
