{% extends "base.html" %}
{% import "macros/generic.html" as macros %}
{% import "macros/malware.html" as malware %}
{% import "macros/actors.html" as actors %}
{% import "macros/ttps.html" as ttps %}
{% import "macros/observables.html" as observables %}
{% import "macros/observables.html" as observables %}
{% import "macros/filterlist.html" as filterlist %}

{% block title %}
{{obj.name}}
{% endblock %}

{% block main %}
{% set indicator = obj %}
<div class="row">
<!-- start first column -->
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" id="yeti-node-name" data-id="{{indicator.id}}" data-class="indicator">
                {{indicator.name}} <span class="small">{{indicator.type}}</span>
                <a href="{{url_for('frontend.graph_node', id=indicator.id, klass='indicator')}}" class="btn btn-default btn-xs pull-right"><i class="flaticon-network38"></i> New Investigation</a>
                <a href="{{url_for('frontend.IndicatorsView:edit', id=indicator.id)}}" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
            </h3>
          </div>
          <div class="panel-body">
            {% if indicator.description %}
            {{indicator.description|markdown}}
            {%else%}
            <em>No description provided</em>
            {%endif%}
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-primary yeti-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed main-table">
              {% for key, value in indicator.info().items() %}
              {% if key not in ["context", "value", "last_analyses", "pattern", "description"] %}
                <tr><th>{{key}}</th><td>{{macros.display_yeti(indicator, key)}}</td></tr>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        {% if indicator.error %}
          <div class="alert alert-danger" role="alert"><strong>Error in indicator</strong>: {{indicator.error}}</div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                Pattern
            </h3>
          </div>
          <div class="panel-body">

            <!-- <code> -->
            {% if indicator.type == "Yara" %}
              <pre><code>{{ indicator.pattern }}</code></pre>
            {% else %}
              <code>{{ indicator.pattern }}</code>
            {% endif %}
            <!-- </code> -->
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#ttp" aria-controls="ttp" role="tab" data-toggle="tab">TTP</a></li>
          <li role="presentation"><a href="#malware" aria-controls="malware" role="tab" data-toggle="tab">Malware</a></li>
          <li role="presentation"><a href="#actors" aria-controls="actors" role="tab" data-toggle="tab">Actors</a></li>
          <!-- <li role="presentation"><a href="#observables" aria-controls="observables" role="tab" data-toggle="tab">Observables</a></li> -->
        </ul>

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="ttp"> <!-- TTP tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="ttp"), "ttp-pivot") }}
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="malware"> <!-- malware tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="malware"), "malware-pivot") }}
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="actors"> <!-- actors tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="actor"), "actor-pivot") }}
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="observables"> <!-- Observables tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="observable"), "observable-pivot") }}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>
<!-- end first column -->



</div>

{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/crud.js') }}" charset="utf-8"></script>
{%endblock%}
