{% extends "base.html" %}
{% import "macros/generic.html" as macros %}
{% import "macros/malware.html" as malware %}
{% import "macros/actors.html" as actors %}
{% import "macros/ttps.html" as ttps %}
{% import "macros/observables.html" as observables %}
{% import "macros/filterlist.html" as filterlist %}

{% block title %}
{{obj.name}}
{% endblock %}

{% block main %}
{% set indicator = obj %}
<div class="row">
<!-- start first column -->
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" id="yeti-node-name" data-id="{{indicator.id}}" data-class="indicator">
                {{indicator.name}} <span class="small">{{indicator.type}}</span>
                <a href="{{url_for('frontend.IndicatorView:delete', id=indicator.id)}}" class="btn btn-danger btn-xs pull-right object-delete" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
                <a href="{{url_for('frontend.InvestigationView:graph_node', id=indicator.id, klass='indicator')}}" class="btn btn-default btn-xs pull-right"><i class="flaticon-network38"></i> New Investigation</a>
                <a href="{{url_for('frontend.IndicatorView:edit', id=indicator.id)}}" class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
            </h3>
          </div>
          <div class="panel-body markdown-text hide">{% if indicator.description %}{{indicator.description}}{%else%}No description provided{%endif%}</div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-primary yeti-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed main-table">
              {% for key, value in indicator.DISPLAY_FIELDS %}
              {% if key not in ["pattern", "name", "value", "last_analyses", "description"] %}
                {% set output = macros.display_yeti(indicator, key) %}
                {% if output %}
                  <tr><th>{{value}}</th><td>{{macros.display_yeti(indicator, key)}}</td></tr>
                {% endif %}
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        {% if indicator.error %}
          <div class="alert alert-danger" role="alert"><strong>Error in indicator</strong>: {{indicator.error}}</div>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                Pattern
            </h3>
          </div>
          <div class="panel-body">

            <!-- <code> -->
            {% if indicator.type == "Yara" %}
              <pre><code>{{ indicator.pattern }}</code></pre>
            {% else %}
              <code>{{ indicator.pattern }}</code>
            {% endif %}
            <!-- </code> -->
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">

        {% set link_write = current_user.has_permission("link", "write") %}
        {% set entity_write = current_user.has_permission("entity", "write") %}
        {% set entity_read = current_user.has_permission("entity", "read") %}
        {% set observable_read = current_user.has_permission("observable", "read") %}

        <ul class="nav nav-tabs" role="tablist">
          {% if entity_read %}
          <li role="presentation" class="active"><a href="#ttp" aria-controls="ttp" role="tab" data-toggle="tab">TTP</a></li>
          <li role="presentation"><a href="#malware" aria-controls="malware" role="tab" data-toggle="tab">Malware</a></li>
          <li role="presentation"><a href="#actors" aria-controls="actors" role="tab" data-toggle="tab">Actors</a></li>
          <li role="presentation"><a href="#exploitkits" aria-controls="exploitkits" role="tab" data-toggle="tab">Exploit kits</a></li>
          {% endif %}
        </ul>

        <div class="tab-content">

          {% if entity_read %}

          <div role="tabpanel" class="tab-pane active" id="ttp"> <!-- TTP tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="ttp"), "ttp-pivot") }}
                {% if link_write and entity_write %}
                <a href="{{ url_for('frontend.IndicatorView:new_subclass', subclass="regex", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new Regex</a>
                <a href="{{ url_for('frontend.IndicatorView:new_subclass', subclass="yara", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new Yara rule</a>
                {{ macros.table_controls("ttp") }}
                {% endif %}
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="malware"> <!-- malware tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="malware"), "malware-pivot") }}
                {% if link_write and entity_write %}
                <a href="{{ url_for('frontend.EntityView:new_subclass', subclass="malware", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new Malware</a>
                {{ macros.table_controls("malware") }}
                {% endif %}
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="actors"> <!-- actors tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="actor"), "actor-pivot") }}
                {% if link_write and entity_write %}
                <a href="{{ url_for('frontend.EntityView:new_subclass', subclass="actor", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new Actor</a>
                {{ macros.table_controls("actors") }}
                {% endif %}
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="exploitkits"> <!-- exploitkits tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="exploitkit"), "exploitkit-pivot") }}
                {% if link_write and entity_write %}
                <a href="{{ url_for('frontend.EntityView:new_subclass', subclass="exploitkit", bind=obj.id, type=obj.type.lower()) }}" class="btn btn-default btn-xs pull-left"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bind new Exploit kit</a>
                {{ macros.table_controls("exploitkits") }}
                {% endif %}
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="observables"> <!-- Observables tab -->
            <div class="row">
              <div class="col-md-12">
                {{ filterlist.inline_filter(url_for("api.Neighbors:tuples", klass="indicator", node_id=indicator.id, type_filter="observable"), "observable-pivot") }}
                {% if link_write and observable_write %}
                {{ macros.table_controls("observables") }}
                {% endif %}
              </div>
            </div>
          </div>

          {% endif %}

        </div>

      </div>
    </div>


  </div>
<!-- end first column -->



</div>

<script type="text/javascript">
  for (let type of ["ttp", "malware", "actors", "exploitkits"]) {
    var s = new GenericSelector("#"+type, ".node-line", "#"+type+"-multiple-actions");
    s.bindCallback(".btn-unlink", unlink);
    s.bindCallback(".btn-edit", edit);
  }
</script>


{% endblock %}

{% block custom_head %}
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/crud.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='yeti/js/selection.js') }}" charset="utf-8"></script>
{%endblock%}
