[Unit]
Description=Yeti beat scheduler
After=mongodb.service redis.service yeti_feeds.service yeti_oneshot.service yeti_exports.service yeti_analytics.service

[Service]
Type=simple
User=yeti
WorkingDirectory=/opt/yeti
ExecStart=/usr/local/bin/celery -A core.config.celeryctl beat -S core.scheduling.Scheduler

[Install]
WantedBy=multi-user.target
