[Unit]
Description=Yeti web servers
After=mongodb.service redis.service

[Service]
Type=simple
User=yeti
WorkingDirectory=/opt/yeti
ExecStart=/opt/yeti/yeti.py webserver

[Install]
WantedBy=multi-user.target
