[Unit]
Description=Yeti workers - Feeds
After=mongodb.service redis.service

[Service]
Type=simple
User=yeti
WorkingDirectory=/opt/yeti
ExecStart=/usr/local/bin/celery -A core.config.celeryctl.celery_app worker -O fair -c 8 -Q feeds -n feeds --purge

[Install]
WantedBy=multi-user.target
