[Unit]
Description=Yeti workers - Inline analytics
After=mongodb.service redis.service

[Service]
Type=simple
User=yeti
WorkingDirectory=/opt/yeti
ExecStart=/usr/local/bin/celery -A core.config.celeryctl.celery_app worker -Ofair -c 8 -Q inline -n inline --purge

[Install]
WantedBy=multi-user.target
