name: Lint

on: [pull_request]

jobs:
  lint:
    name: Lint using Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Install ruff
        run: pip install ruff
      - name: Run ruff lint check
        run: ruff check . --exclude deprecated --select I
      - name: Run ruff format check
        run: ruff format . --check --exclude deprecated
