name: Unit tests

on: [pull_request]

jobs:

  unittest:
    runs-on: ubuntu-latest
    env:
      YETI_REDIS_HOST: localhost
      YETI_REDIS_PORT: 6379
      YETI_REDIS_DATABASE: 0
      YETI_ARANGODB_HOST: localhost
      YETI_ARANGODB_PORT: 8529
      YETI_ARANGODB_DATABASE: yeti
      YETI_ARANGODB_USERNAME: root
      YETI_ARANGODB_PASSWORD: ""
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - run:
        sudo apt-get update && sudo apt-get install -y python3-pip && sudo pip3 install poetry
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: poetry
    - run: poetry install
    # - name: Edit config file
    #   run: |
    #     cp yeti.conf.sample yeti.conf
    #     sed -i '42s/# host =/host =/' yeti.conf
    #     sed -i '43s/# port =/port =/' yeti.conf
    #     sed -i '44s/# username = yeti/username = root/' yeti.conf
    #     sed -i '45s/# password = STRONG_PASSWORD/password =/' yeti.conf
    #     sed -i '46s/# database = /database =/' yeti.conf
    - name: Start redis & arangodb conainers
      run: docker compose -f extras/docker/dev/docker-compose.yaml up -d redis arangodb
    - name: Test with unittest
      run: |
        poetry run python -m unittest discover -s tests/schemas -p '*.py'
        poetry run python -m unittest discover -s tests/apiv2 -p '*.py'
        poetry run python -m unittest discover -s tests/core_tests -p '*.py'
