name: Unit tests

on: [push, pull_request]
  # pull_request:
  #   types: [opened, synchronize, reopened]

jobs:

  poetry:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
    env:
      DFTIMEWOLF_NO_CURSES: 1
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install poetry
        poetry install
    - name: Test with unittest
      run: |
        poetry run python -m unittest discover -s test/schemas -p '*.py'
        poetry run python -m unittest discover -s test/apiv2 -p '*.py'
